@import '../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/hero-buttons';
@import '~@nebular/theme/styles/global/typography/typography';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
  .no_set_padding {
    padding-left: 17px;
  }
}

nb-card-body {
  padding: 10px 30px;
}

.minheight {
  min-height: 250px;
}

.headsection {
  border-bottom: 0;
  padding-bottom: 0 !important;
}

.no_set_padding {
  padding-left: 45px;
}

.secondaryhead {
  display: block !important;
  font-size: 15px;
  color: #575bc7;
  font-weight: 400;
}

.theading-text {
  color: #cee80b;
}

.pair {
  height: 296px;
}

.boardtable {
  width: 100%;
}

.boardtable th {
  letter-spacing: 1px;
  font-size: 12px;
  border-bottom: 1px solid #342e73 !important;
}

.available {
  height: 250px;
}

.positionSet {
  padding-top: 10px;
}

.boardtable tr:nth-child(even) {
  background: #87a1b730;
}

.totalfield {
  border-bottom: 1px solid #342e73;
  border-top: 1px solid #342e73;
  font-size: 1.2rem !important;
  font-family: nb-theme(font-bebas-book);
  padding: 5px 0 0 0 !important;
  font-weight: 600;
}

.boardtable th span.total {
  color: #b9e80c;
}

.boardtable td {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

.table {
  margin-bottom: 0;
}

.table th, .table td {
  padding: 0;

}

.table thead th {
  border-top: 0px solid #dee2e6;
  border-bottom: 0px solid #dee2e6;
  color: #cee80b;
}

tbody tr {
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;

}

tbody tr:nth-of-type(even) {
  background: #87a1b730;
}

.table td {
  vertical-align: top;
  border-top: 0px solid #dee2e6;

  padding: 0px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

.boardtable tr {
  cursor: pointer;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  white-space: nowrap;
}

.boardtable td.changetext {
  text-align: right;
}

.available {
  height: 352px;
}

.available-items {
  max-height: 213px !important;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto !important;
}

.bigSize {
  font-size: 20px;
}

.currentPair-color {
  color: #00d977;
}

.delta {
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
  margin-left: 15px;
  font-size: 1rem;
  font-family: nb-theme(font-avenir);
  right: 0;
  @include nb-rtl(left, 1.25rem);
  @include nb-rtl(right, inherit);

  &::before {
    position: absolute;
    content: '';
    right: 100%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &.down {
    color: #ff5680;
    &::before {
      bottom: 4px;
      border-top: 7px solid #ff5680;
    }
  }

  &.up {
    color: #26df8b;
    &::before {
      top: 4px;
      border-bottom: 7px solid #26df8b;
    }
  }
}

@media screen and (max-width: 425px) {
  nb-card-header {
    padding: 17.5px 5px;
  }

  nb-card-body {
    padding: 10px 15px !important;
  }
}
