<nb-card class="board">
  <nb-card-header class="headsection">Pair</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="available-items">

        <table class="boardtable">
          <thead>
            <tr>
              <th class="text-left">
                <span class="theading-text">PAIR</span>
              </th>
              <th class="text-right no_set_padding">
                <span class="theading-text">Price</span>
              </th>
              <th class="text-right">
                <span class="theading-text">Change</span>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="available-items">
        <table class="boardtable">

          <tr *ngFor="let pair of pairs">
            <td class="text-left positionSet" (click)="clickPair(pair)">{{pair.symbol.split(':')[1]}}</td>
            <td class="text-center">65.6542</td>
            <td class="changetext positionSet">0.8771</td>
          </tr>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>