<nb-card size="medium" [ngClass]="{'r18': r18mode}">
  <!-- <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">Security Cameras</span>
      <span class="cameras-filter">
        <a [class.active]="isSingleView" (click)="isSingleView = true">
          <i class="nb-square"></i>
        </a>
        <a [class.active]="!isSingleView" (click)="isSingleView = false">
          <i class="nb-grid-a"></i>
        </a>
      </span>
    </div>
  </nb-card-header> -->
  <nb-card-body>
    <div class="cameras single-view" *ngIf="isSingleView">
      <div class="camera" [style.background-image]="'url(' + selectedCamera.source + ')'">
        <span>{{ selectedCamera.title }}</span>
      </div>
    </div>
    <div class="cameras" *ngIf="!isSingleView">
      <div (click)="onImageClick(camera.title, XGameTemplate, XComicTemplate)" class="camera pointer col-lg-4" *ngFor="let camera of cameras"
        [style.background-image]="'url(' + camera.source + ')'"
        [hidden]="!camera.display">
        <span>{{ camera.title }}</span>
      </div>
    </div>
  </nb-card-body>
  <!-- <nb-card-footer>
    <nb-actions size="medium" fullWidth>
      <nb-action>
        <i class="nb-pause-outline"></i><span>Pause</span>
      </nb-action>
      <nb-action>
        <i class="nb-list"></i><span>Logs</span>
      </nb-action>
      <nb-action>
        <i class="nb-search"></i><span>Search</span>
      </nb-action>
      <nb-action>
        <i class="nb-gear"></i><span>Setup</span>
      </nb-action>
    </nb-actions>
  </nb-card-footer> -->
</nb-card>

<ng-template #XGameTemplate let-data let-XGame="dialogRef">
  <nb-card>
    <nb-card-header>
    {{"pages.dashboard.securityCamera.xgames" | translate}}<i class="nb-close fa-2x pointer close-btn" (click)="XGame.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scroll-card-body">
        <div class="row">
          <div class="col-md-4 image-div col-sm-12 pointer">
            <img class="pointer image-width" (click)="onGameTemplate('lottery')" src="../../assets/images/lottery.jpg">
            <div class="text-center game-name-font pt-2">{{"common.lottery" | translate}}</div>
          </div>
          <div class="col-md-4 game-margin image-div col-sm-12 pointer">
              <img class="pointer image-width" (click)="onGameTemplate('black-jack')" src="../../assets/images/black_jack.jpg">
              <div class="text-center game-name-font pt-2">{{"common.blackJack" | translate}}</div>
          </div>
          <div class="col-md-4 game-margin image-div col-sm-12 pointer">
            <img class="pointer image-width" (click)="onGameTemplate('baccarat')" src="../../assets/images/baccarat.jpg">
            <div class="text-center game-name-font pt-2">{{"common.baccarat" | translate}}</div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #XComicTemplate let-data let-XComic="dialogRef">
  <nb-card>
    <nb-card-header>
      {{"pages.dashboard.securityCamera.xcomic" | translate}}<i class="nb-close fa-2x pointer close-btn" (click)="XComic.close()"></i>
    </nb-card-header>
    <nb-card-body class="comic-scroll-card-body">
      <div class="row">
          <div class="lang-card col-12">
            <div class="text-center mb-4">
              <div class="game-name-font ep-heading">{{"common.episode" | translate}}-1</div>
              <button class="btn lang-btn pointer" (click)="openComic('jp')">Japanese</button>
              <button class="btn lang-btn pointer" (click)="openComic('cn')">Chinese</button>
              <button class="btn lang-btn pointer" (click)="openComic('kr')">Korean</button>
            </div>
          </div>
          <div class="lang-card col-12">
            <div class="text-center">
              <div class="game-name-font ep-heading">{{"common.episode" | translate}}-2</div>
              <div class="ep-coming-soon">{{"pages.setting.comingSoon" | translate}}!</div>
            </div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
</ng-template>
