@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .created-by {
    font-size: 18px;
    padding-left: 15px;
  }

  .socials {
    font-size: 2rem;
    padding-right: 15px;

    a {
      padding: 0.4rem;
      color: nb-theme(color-fg);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-fg-heading);
      }
    }
  }
  .font-bebas {
    font-family: nb-theme(font-bebas);
  }

  .angelium-text {
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 4px;
  }
 @include media-breakpoint-down(sm) {
      a {
      padding: 0.1rem !important;
    }

  }
  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }

}
