<div class="row">
  <div class="col-12 image-width">
    <div class="event-heading">
      <div class="text-style">{{eventTitle}}</div>
      <span class="date">2019.09.23</span>
      <span class="venue">{{eventAddressLine1}} <br /> {{eventAddressLine2}}</span>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="eventVideoURL" class="event-detail">
      <a (click)="playVideo()" class="fancybox pointer iframe-style">
        <img src="../../../../assets/images/eventVideo.png">
      </a>
      <div class="video-link">
        <a (click)="playVideo()" class="fancybox link-font">Watch Video</a>
      </div>
    </div>
  </div>
</div>
<div class="row btm-margin">
  <div *ngFor="let ticket of ticketTypes" class="col-lg-2 col-md-4 col-sm-4 ticket-width">
    <nb-card>
      <nb-card-header class="day-header-title title">
        {{ticket.ticket_name}}
      </nb-card-header>
      <nb-card-body class="row font-bebasNeue">
        <div class="col-12">
          <div class="text-center ticket-name">{{ticket.description}}</div>
          <div class="text-success text-center days-font">{{ticket.price |  currency:'USD':'symbol'}}</div>
        </div>
      </nb-card-body>
      <button class="table_bg font-size-button" [ngClass]="{'selectedTicket': selectedTicket?.id === ticket.id}"
              (click)="onTicketSelect(ticket)">{{"common.select" | translate}}
      </button>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12 myWallets">
    <nb-card>
      <nb-card-header>
        {{"pages.xticket.buyTickets" | translate}}
      </nb-card-header>
      <nb-card-body class="cardbody">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="form-group font-avenir">
              <label class="label-color">
                {{"common.assets" | translate}}
              </label>
              <div class="status-dd-week dropdown" ngbDropdown>
                <button type="button" ngbDropdownToggle class="font-avenir dropDown-padding btn btn-primary b-color-wallet">
                  <span *ngIf="!walletType">{{"common.select" | translate}}</span>
                  {{walletType}}
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  <li class="dropdown-item" *ngFor="let wallet of myWallets" (click)="setWalletType(wallet.wallet_type)">{{wallet.wallet_type}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="form-group total-amount total-amount font-avenir">
              <label class="label-color">
                {{"pages.xticket.noOfTickets" | translate}}
              </label>
              <div class="input-group">
                <input type="number" [(ngModel)]="noOfTickets" class="form-control input-padding font-avenir" [disabled]="!walletType"
                       placeholder='{{"pages.xticket.noOfTickets" | translate}}' (keyup)="setAmount(noOfTickets, walletType)" />
                <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                <span class="transfer-amount" *ngIf="!fetchingAmount">{{ totalAmount | number : '1.0-6' }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="form-group">
              <label class="mt-3">
              </label>
              <button class="btn btn-block btn-success btn-rectangle ticket-button" [disabled]="!walletType || !noOfTickets || buyingTicket || fetchingAmount"
               (click)="buyTickets()">
                <span *ngIf="!buyingTicket">{{"common.buy" | translate}}</span>
                <i class="fa fa-spinner fa-spin text-white" *ngIf="buyingTicket"></i>
                </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{"pages.xticket.purchasedTickets" | translate}}
      </nb-card-header>
      <nb-card-body>
        <div [hidden]="!fetchingTicketList"><span class="purchased-ticket-spinner"><i class="fa fa-spinner fa-spin"></i></span></div>
        <div [hidden]="!hasNoTickets">{{"pages.xticket.noTicketPurchased" | translate}}</div>
        <div class="overflow-auto">
          <ng2-smart-table class="table-font" [settings]="settings" [source]="source" *ngIf="!fetchingUsers"
                           [hidden]="fetchingTicketList || hasNoTickets" (custom)="onDownloadTicket($event, heavensDayTicket)">
          </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #heavensDayTicket let-data let-refTicket="dialogRef">
  <nb-card>
    <nb-card-header>
      {{"common.xticket" | translate}}  <i class="nb-close nb-icon-left fa-2x" (click)="refTicket.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scroll-card-body">
      <img *ngIf="ticketImage" [src]="ticketImage" class="qr-code-class">
      <div id="img-download" class="ticket-img">
        <div class="qrcode-margin">
          <div class="ticket-name">{{ticketData?.ticket_name}}</div>
          <img [src]="ticketData?.qrcode" class="qr-code-class">
          <div class="ticket-title">{{"common.xticket" | translate}}</div>
          <div class="ticket-name-color">
            <span class="customer-name">{{ticketData?.name}}</span>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="text-center">
      <button class="btn btn-download pointer" nbButton size="small" (click)="downloadTicket(refTicket)" [disabled]="downloadingTicket">
        <i class="fa fa-spinner fa-spin text-white" *ngIf="downloadingTicket"></i>
        <span *ngIf="!downloadingTicket">{{"pages.setting.download" | translate}}</span></button>
    </nb-card-footer>
  </nb-card>
</ng-template>
