@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .dropdown-menu {
    background-color: #100b48 !important;
    border: 2px solid #7659ff !important;
  }

  .purchased-ticket-spinner {
    display: block;
    font-size: 25px;
    color: #a1a1e5;
    height: 40px;
    text-align: center;
  }

  input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /deep/ ng2-smart-table {
    .ng2-smart-filters, .ng2-smart-actions ng2-st-tbody-edit-delete {
      display: none;
    }

    a.ng2-smart-action.ng2-smart-action-custom-custom {
      &:hover {
        color: #03d87c;
      }
    }
    thead th {
      white-space: nowrap;
    }
    tbody tr:nth-child(odd) {
      background-color: #111550;
    }

    .min-width {
      min-width: 200px;
    }
  }

  .cardbody {
    overflow: unset;
  }

  .ticket-button {
    font-family: nb-theme(font-bebas-bold);
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0.5rem;
    cursor: pointer;
  }

  .font-avenir {
    font-family: nb-theme(font-avenir);
  }

  .dropDown-padding {
    padding: 13px !important;
  }

  .price-color {
    color: #00ff00;
  }

  .b-color-wallet {
    background-image: linear-gradient(to right, #ad59ff, #7659ff);
    border: 1px;
  }

  .image-width {
    background-image: url('/assets/images/fantasy.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: calc(100vh - 130px);
    background-repeat: no-repeat;
  }

  .above-heavenDays {
    margin-top: 200px;
  }

  .event-heading {
    margin-top: 100px;
    margin-left: 100px;

    .text-style {
      font-size: 115px;
      font-family: BebasNeueBold;
      color: #000000;
      margin: 0;
      line-height: 0.9;
    }

    .date {
      font-family: BebasNeueBold;
      color: #000000;
      text-align: center;
      font-size: 55px;
      float: left;
      letter-spacing: 3px;
      margin-right: 10px;
    }

    .venue {
      font-family: BebasNeueBold;
      color: #000000;
      font-size: 25px;
      float: left;
      letter-spacing: 2px;
    }
  }

  .iframe-style {
    margin-left: 52px;
    margin-top: 28px;
    height: 305px;
    width: 542px;
  }

  .btm-margin {
    margin-top: 20px;
  }

  .label-color {
    color: #00ff00;
  }

  .total-amount {
    position: relative;
    .input-group-prepend {
      min-width: 70px;
      label {
        margin-bottom: 0;
      }
    }
    span {
      position: absolute;
      &.transfer-amount {
        font-weight: bold;
        font-size: 16px;
        right: 30px;
        bottom: 13px;
        color: #00bb66;
      }
      &.available-amount {
        font-size: 14px;
        cursor: pointer;
        right: 10px;
        top: 0;
      }
    }
  }

  .ticket-name {
    font-size: 30px;
  }

  .day-header-title {
    font-size: 22px;
  }

  .title {
    font-family: nb-theme(font-bebas);
    font-size: 2rem;
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(card-fg-heading);
  }

  .title {
    font-weight: nb-theme(font-weight-bolder);
  }

  .font-bebasNeue {
    font-family: nb-theme(font-bebas);
  }

  .days-font {
    font-size: 5.5rem;
    margin-top: 0;
    height: 90px;
    padding-bottom: 0;
    overflow: hidden;
  }

  .days-text {
    font-size: 1.5rem;
    margin-right: 7px;
  }

  .m-t {
    margin-top: 8%;
  }

  .table_bg {
    background: none;
    border: 2px solid #03d87c;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    border-radius: 4px;
    margin: 12px auto;
    cursor: pointer;
    font-family: nb-theme(font-bebas-bold);
    margin-top: 0;
  }

  .table_bg:hover {
    background-image: linear-gradient(to right, #00D9BB, #00DA79);
    border: 2px solid #03d87c;
    color: #fff;
    width: 150px;
    padding: 10px 0;
    border-radius: 4px;
    margin: 12px auto;
    margin-top: 0;
  }

  .font-size-button {
    font-size: 1.5rem;
  }

  .selectedTicket {
    background-image: linear-gradient(to right, #00D9BB, #00DA79);
  }
}

/deep/ .image-scroll-card-body {
  overflow: auto !important;

  .ticket-img {
    background-image: url('/assets/images/heavensDay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 302px;
    height: 645px;

    .qrcode-margin {
      font-family: nb-theme(font-bebas-bold);
      text-align: center;
      position: relative;
      color: #ffffff;
      top: 56%;

      .ticket-name {
        font-size: 45px;
        letter-spacing: 2px;
      }

      .qr-code-class {
        -webkit-box-shadow: 0 0 5px 2px #212322;
        box-shadow: 0 0 5px 2px #212322;
        border: 2px solid #fff;
      }

      .ticket-title {
        font-size: 25px;
        font-family: nb-theme(font-bebas);
        margin-left: 15px;
        letter-spacing: 15px;
      }

      .ticket-name-color {
        background-color: #ffffff;
        margin: 1px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .customer-name {
          color: #000000;
          font-size: 22px;
        }
      }
    }
  }
}

.nb-icon-left {
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.btn-download {
  width: 130px;
}

@media only screen and (max-width: 375px) {
  /deep/ .image-scroll-card-body {
    max-height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .ticket-width {
    max-width: 20% !important;
    width: 20% !important;
    flex: 20% !important;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .days-font {
    font-size: 3.5rem !important;
  }
}
@media only screen and (min-width: 426px) {
  .video-link {
    display: none;
  }
}

@media only screen and (max-width: 425.99px) {
  .image-width {
    height: 220px !important;
    .iframe-style {
      display: none;
    }
    .video-link {
      margin-left: 52px !important;
      margin-top: 70px !important;
      color: #000000;
      font-size: 25px;
      text-decoration: underline;
      .link-font {
        font-family: nb-theme(font-bebas-bold);
        color: #000000;
        cursor: pointer !important;
      }
    }

    .event-heading {
      margin-top: 18px !important;
      margin-left: 37px;

      .text-style {
        font-size: 39px !important;
      }

      .date {
        font-size: 10px !important;
        margin-right: 2px !important;
      }

      .venue {
        font-size: 9px !important;
        letter-spacing: 1px;
      }
    }
  }
}
