<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <nav class='navigation'>
          <a routerLink="/login" class='link' aria-label='Back'>
            <i class='icon nb-arrow-thin-left'></i></a>
        </nav>
      </nb-card-header>
      <nb-card-body>
        <nb-auth-block>
          <div>
            <img src="../../assets/images/angelium_logo.png" class="logo-image" />
            <h1 id="title" class="title">Reset {{'common.password'|translate}}</h1>
            <p class="sub-title title" *ngIf="isResubmit && otpSubmitted">Did not receive OTP? Try RESEND when
              enabled.</p>
            <form #otpForm="ngForm" (ngSubmit)="onSubmitOtp()" class="resetpwdForm">
              <div class="form-group row">
                <div class="col-md-9 col-12">
                  <label>{{'common.phone'|translate}} {{'pages.register.number'|translate}}:</label>
                  <international-phone-number [(ngModel)]="model.phone" placeholder="{{'common.enter'|translate}} {{'common.phone'|translate}} {{'pages.register.number'|translate}}"
                    [maxlength]="20" [required]="true" #phone="ngModel" name="phone" [defaultCountry]="'jp'">
                  </international-phone-number>

                  <div *ngIf="((otpForm?.submitted || otpSubmitted) && otp_form?.phone.errors) || (submitted && f?.phone.errors)" class="invalid-feedback">
                    <div *ngIf="(otp_form?.phone.errors && otp_form?.phone.errors.required) || (f?.phone.errors && f?.phone.errors.required)">Phone number is required
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-12 sent_btn">
                  <button type="submit" [disabled]="otpSubmitting || otpSubmitted"
                    class="btn btn-demo btn-success margint btnregister" size="large">
                    <span *ngIf="!otpSubmitting">{{isResubmit ? 'RESEND' : 'common.sendSMS'|translate}}</span>
                    <i class="fa fa-spinner fa-spin text-white" *ngIf="otpSubmitting"></i>
                  </button>
                </div>
              </div>
            </form>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" class="resetpwdForm">
              <div class="form-group">
                <label>{{'common.verificationCode'|translate}}:</label>
                <input type="text" class="form-control" formControlName="code" placeholder="{{'common.verificationCode'|translate}}">
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">Verification code is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'common.password'|translate}}:</label>
                <input type="password" class="form-control" placeholder="{{'common.password'|translate}}" formControlName="password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'pages.register.repeatPassword'|translate}}:</label>
                <input type="password" class="form-control" placeholder="{{'pages.register.repeatPassword'|translate}}"
                  formControlName="confirm_password">
                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                  <div *ngIf="f.confirm_password.errors.required">Repeat password is required</div>
                  <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
              <!-- <div class="form-group">
                  <label for="exampleInputPassword1">Slider captcha</label>
                  <input type="password" class="form-control"  placeholder="Slider captcha">
                </div> -->
              <button type="submit" [disabled]="formSubmitting" class="btn btn-demo btn-success pointer btnResetCss" size="large"
                style="width:100%">
                <span *ngIf="!formSubmitting">Change Password</span>
                <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting"></i>
              </button>
            </form>
          </div>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
