<nb-card class="trade">
  <nb-card-header>{{"common.trade" | translate}}</nb-card-header>
  <nb-card-body>
      <div class="available-items">
    <ul id="main-navigation-trade" class="nav navbar-pill tradeLine tabs text-center">
      <li class="pointer active tab-link" data-tab="tab-1">
        <a data-toggle="pill">{{"pages.exchange.buy" | translate | uppercase}} {{tradeBuy.from | uppercase}}</a>
      </li>
      <li class="pointer tab-link" data-tab="tab-2">
        <a data-toggle="pill">{{"pages.exchange.sell" | translate | uppercase}} {{tradeBuy.from | uppercase}}</a>
      </li>
    </ul>

    <div id="tab-1" class="tab-content active">
      <form (ngSubmit)="submitTradeBuy()">
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"pages.exchange.price" | translate}}</label>
            <label class="label-right font-avenir">
              <span *ngIf="!fetchingBuyAmount">
                ${{ buyWalletDollar | number : '1.0-2' }}
              </span>
              <span class="transfer-amount" *ngIf="fetchingBuyAmount"><i class="fa fa-spinner fa-spin"></i></span>
            </label>
            <input type="number" class="form-control" name="price" [(ngModel)]="tradeBuy.price" (keyup)="setBuyAmount(tradeBuy.to)">
            <span class="form-control-feedback mr-2">{{tradeBuy.to | uppercase}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"common.amount" | translate}}</label>
            <label class="label-max font-avenir pointer" (click)="getMaxAmount('tradeBuy')">{{"pages.exchange.max" | translate | uppercase}}</label>
            <input type="number" class="form-control" name="amount" [(ngModel)]="tradeBuy.amount" (keyup)="setBuyTotalAmount(tradeBuy.to)">
            <span class="form-control-feedback mr-2">{{tradeBuy.from | uppercase}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"common.total" | translate}}</label>
            <label class="label-right font-avenir">
              <span *ngIf="!fetchingBuyTotalAmount">
                ${{ buyTotalWalletDollar | number : '1.0-2' }}
              </span>
              <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingBuyTotalAmount"></i></span>
            </label>
            <input type="text" class="form-control" name="btc" [value]="tradeBuy.price * tradeBuy.amount" disabled>
            <span class="form-control-feedback mr-2">{{tradeBuy.to | uppercase}}</span>
          </div>
        </div>
        <span>
          <a class="pointer green-text withdraw-text" (click)="openDialog(WithdrawModel)">{{"pages.exchange.withdraw" | translate | uppercase}}</a>
          <a class="pointer green-text deposit-text" (click)="openDialog(depositModel)">{{"pages.exchange.deposit" | translate | uppercase}}</a>
        </span>
        <div class="text-center">
          <button type="submit" class="font-bebasNeueBold btn btn-run btn-demo btn-success pointer" size="large" [disabled]="formSubmittingBuy || tradeBuy.price <= 0 || tradeBuy.amount <= 0">
            <span *ngIf="!formSubmittingBuy">{{"pages.exchange.placeBuyOrder" | translate}}</span>
            <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmittingBuy"></i>
          </button>
        </div>
      </form>
    </div>

    <div id="tab-2" class="tab-content" >
      <form (ngSubmit)="submitTradeSell()">
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"pages.exchange.price" | translate}}</label>
            <label class="label-right font-avenir">
              <span *ngIf="!fetchingSellAmount">
                ${{ sellWalletDollar | number : '1.0-2' }}
              </span>
              <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingSellAmount"></i></span>
            </label>
            <input type="number" class="form-control" name="price"
              [(ngModel)]="tradeSell.price" (keyup)="setSellAmount(tradeSell.to)">
            <span class="form-control-feedback mr-2">{{tradeSell.to | uppercase}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"common.amount" | translate}}</label>
            <label class="label-max font-avenir pointer" (click)="getMaxAmount('tradeSell')">{{"pages.exchange.max" | translate | uppercase}}</label>
            <input type="number" class="form-control" name="amount" [(ngModel)]="tradeSell.amount" (keyup)="setSellTotalAmount(tradeSell.to)">
            <span class="form-control-feedback mr-2">{{tradeSell.from | uppercase}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group has-feedback">
            <label class="text-success">{{"common.total" | translate}}</label>
            <label class="label-right font-avenir">
              <span *ngIf="!fetchingSellTotalAmount">
                ${{ sellTotalWalletDollar | number : '1.0-2' }}
              </span>
              <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingSellTotalAmount"></i></span>
            </label>
            <input type="text" class="form-control" name="total" [value]="tradeSell.price * tradeSell.amount" disabled>
            <span class="form-control-feedback mr-2">{{tradeSell.to | uppercase}}</span>
          </div>
        </div>
        <span>
          <a class="pointer green-text withdraw-text" (click)="openDialog(WithdrawModel)">
              {{"pages.exchange.withdraw" | translate |uppercase }}
          </a>
          <a class="pointer green-text deposit-text" (click)="openDialog(depositModel)">
            {{"pages.exchange.deposit" | translate | uppercase}}
          </a>
        </span>
        <div class="text-center">
          <button type="submit" class="font-bebasNeueBold btn btn-run btn-demo btn-danger pointer" size="large" [disabled]="formSubmittingSell || tradeSell.price <= 0 || tradeSell.amount <= 0">
            <span *ngIf="!formSubmittingSell">{{"pages.exchange.placeSellOrder" | translate}}</span>
            <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmittingSell"></i>
          </button>
        </div>
      </form>
    </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #WithdrawModel let-data let-ref="dialogRef">
  <nb-card class="modal-popup-size" [size]="'giant'">
    <nb-card-header class="header-popup">{{"pages.exchange.withdraw" | translate | uppercase}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body overflow-unset">
      <div class="form-group font-avenir">
        <label class="text-success">{{"common.from" | translate}}</label>
        <div class="dropdown" ngbDropdown>
          <button type="button" ngbDropdownToggle class="font-avenir dropDown-padding btn btn-primary b-color-wallet">
            {{ withdrawWalletType }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let wallet of exchangeWallets">
              <li class="dropdown-item" (click)="changeWithdrawCrypto(wallet.coin)"  *ngIf="withdrawWalletType != wallet.coin">
                {{wallet.coin}}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

      <br>
      <div class="form-group total-amount">
          <label class="text-success">{{"common.amount" | translate}}</label>
          <span class="available-amount font-avenir" (click)="setSendMaxValueForWithdraw()" *ngIf="selectWalletData?.coin">
             {{(withdrawWalletAmount | number: '1.0-6') + ' ' + (selectWalletData?.coin) + '/' + ("pages.exchange.max" | translate)}}
          </span>
          <div class="input-group">
            <input type="number" [disabled]="!selectWalletData?.coin" class="form-control" (keyup)="setWithDrawAmount(selectWalletData?.coin)"  placeholder="{{'pages.heaven.enterAmount' | translate}}" [(ngModel)]="withdrawAmount">
            <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingWithdrawAmount"></i></span>
            <span class="transfer-amount" *ngIf="!fetchingWithdrawAmount">${{ selectWalletData?.dollar_amount | number : '1.0-2' }}</span>
          </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="withdraw-btn btn btn-success pointer" fullwidth
        (click)="submitWithdrawDialog(ref)"
        [disabled]="submitWithdrawDisable || fetchingWithdrawAmount || !selectWalletData.coin">
         <span *ngIf="!(fetchingWithdrawAmount || submitWithdrawDisable)">{{"pages.exchange.withdraw" | translate}}</span>
        <i class="fa fa-spinner fa-spin text-white" *ngIf="submitWithdrawDisable || fetchingWithdrawAmount"></i>
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #depositModel let-data let-ref="dialogRef">
  <nb-card  class="modal-popup-size">
    <nb-card-header class="header-popup">
        {{"pages.exchange.deposit" | translate | uppercase}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelDialog(ref,'deposit')"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body overflow-unset">
      <div class="form-group font-avenir">
        <label class="text-success">{{"common.from" | translate}}</label>
        <div class="dropdown" ngbDropdown>
          <button type="button" ngbDropdownToggle class="font-avenir dropDown-padding btn btn-primary b-color-wallet">
            {{ cryptoDepositType }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let cryto of myWallets">
            <li class="dropdown-item" *ngIf="cryptoDepositType != cryto.name"
              (click)="changeDepositCrypto(cryto.name)">
              {{cryto.name}}
            </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <br>

      <div class="form-group total-amount">
        <label class="text-success">{{"common.amount" | translate}}</label>
        <span class="available-amount font-avenir" (click)="setSendMaxValueForDeposit()" *ngIf="seletedCryptoDepositData.name">
             {{(depositPopupAmount | number: '1.0-6') + ' ' + (seletedCryptoDepositData?.name) + '/' + ("pages.exchange.max" | translate)}}
        </span>
        <div class="input-group">
          <input type="number" class="form-control" [disabled]="!seletedCryptoDepositData?.name" (keyup)="setDepositAmount(seletedCryptoDepositData?.name)" [(ngModel)]="depositAmount" placeholder="{{'pages.heaven.enterAmount' | translate}}">
          <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
          <span class="transfer-amount" *ngIf="!fetchingAmount">${{ seletedCryptoDepositData?.dollar_amount | number : '1.0-2' }}</span>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="withdraw-btn btn btn-success pointer" fullwidth
              (click)="submitDepositDialog(ref)"
              [disabled]="submitDepositDisable || fetchingAmount || !seletedCryptoDepositData?.name">
        <span *ngIf="!(submitDepositDisable || fetchingAmount)">{{"pages.exchange.deposit" | translate}}</span>
        <i class="fa fa-spinner fa-spin" *ngIf="submitDepositDisable || fetchingAmount"></i>
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
