<nb-card-header>
  {{"pages.dashboard.earnings" | translate}}
</nb-card-header>
<nb-card-body>
  <div class="chart-info">
    <div class="title" [style.color]="color">{{ selectedCurrency }}</div>
    <div class="time-period">{{"common.lastWeek" | translate}}</div>
    <div class="value">{{ value }}%</div>
  </div>
  <ngx-earning-pie-chart [values]="earningPieChartData"
                         (selectPie)="changeChartInfo($event)"
                         [defaultSelectedCurrency]="defaultSelectedCurrency">
  </ngx-earning-pie-chart>
</nb-card-body>
