@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .nb-card {
    transform: translate3d(0, 0, 0);
  }

  .right-align {
    float: right;
  }
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  .nebular-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pull-right {
    float: right;
  }
  .article-title {
    font-size: 30px;
  }
  .article-date {
    font-size: 18px;
  }
  .article-text {
    font-size: 16px;
    text-align: justify;
  }
  .size-container {
    .btn-demo {
      width: 120px;
    }
  }
  .card-assets,
  .card-rewardAllocation {
    height: calc(100% - 1.5rem);
  }
  .tablefixedlayout {
    table-layout: fixed;
    margin-bottom: 0px;
    border-bottom: 0px !important;
  }
  .all-columns {
    background: #494299 !important;
  }
  .tablefixedlayout th {
    border-bottom: 0px !important;
  }
  .accordion-toggle table {
    margin-bottom: 0px;
    table-layout: fixed;
    border-bottom: 0px;
    border-top: 0px;
  }
  .accordion-toggle table td {
    border-top: 0px !important;
  }
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
    .article-title {
      font-size: 22px;
    }
  }

  @include media-breakpoint-down(md) {
    .nebular-calendar {
      margin-bottom: 1.5rem;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }

  /deep/ .delta {
    position: absolute;
    display: inline-block;
    color: nb-theme(color-fg-heading);
    padding-left: 0.2rem;
    // margin-right: 8px;
    font-size: 1rem;
    // top: 20px;
    right: 0px;
    @include nb-rtl(left, 1.25rem);
    @include nb-rtl(right, inherit);

    &::before {
      position: absolute;
      content: "";
      right: 100%;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.down {
      &::before {
        bottom: 4px;
        border-top: 7px solid text-danger();
      }
    }

    &.up {
      &::before {
        top: 4px;
        border-bottom: 7px solid #26df8b;
      }
    }
  }
}

.hiddenRow {
  padding: 0 !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #494299;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #2e296a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}
table.table-bordered {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #2e296a;
}

/deep/ .rewardtblcss {
  padding-right: 40px;
  position: relative;
}
/deep/ .rewardtblcss span {
  word-break: break-all;
}
.nb-theme-cosmic nb-tree-grid-row-toggle .row-toggle-button .icon,
.nb-theme-cosmic nb-sort-icon .icon {
  color: #fff !important;
}

.navbar-header {
  font-family: nb-theme(font-bebas);
  font-weight: 500;
  font-size: 22px;
}

.downlinetblcss,
.downlineuser {
  position: relative;
  padding-right: 40px;
}
.downlinetblcss,
.downlineuser span {
  word-break: break-all;
}

.downlineTree {
 font-family: nb-theme(font-nunito);
}

/deep/ .caret {
  float: right;
  color: #726666;
  right: 0px;
}
/deep/ .caret span {
  padding-right: 0.2rem;
  font-size: 20px;
  color: #26df8b;
}
/deep/ .expand {
  float: right;
  color: #ffffff;
  right: 0px;
}
/deep/ .expand span {
  font-size: 20px;
  color: #fff;
}
.expanddiv {
  margin: 0px;
}
.navbar-pill {
  justify-content: flex-end;
}
#main-navigation li.active > a {
  text-decoration: underline 2px;
  border-radius: 2px;
  border-bottom: 5px solid #26df8b;
  text-decoration-color: #26df8b;
  font-family: nb-theme(font-avenir);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}
#main-navigation li > a {
  padding: 10px;
  text-decoration: none;
  font-family: nb-theme(font-avenir);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}
#downline-navigation li.active > a {
  text-decoration: underline 2px;
  border-radius: 2px;
  border-bottom: 5px solid #26df8b;
  text-decoration-color: #26df8b;
  font-family: nb-theme(font-avenir);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}
#downline-navigation li > a {
  padding: 10px;
  text-decoration: none;
  font-family: nb-theme(font-avenir);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
}

@media (min-width: 300px) and (max-width: 480px) {
  /deep/ .icon-container {
    display: none;
  }
  .rewardColumn,
  .downlineColumn {
    margin-top: 10px;
  }
  .tab-content {
    padding: 0px;
  }

  #main-navigation,
  #downline-navigation {
    padding-left: 0px;
  }
  .navbar-pill {
    justify-content: left;
  }
  #main-navigation li > a,
  #downline-navigation li > a {
    padding: 5px;
  }

  /deep/ ng2-smart-table table tr td {
    font-size: 0.9em;
    word-break: break-all;
  }

  /deep/ .rewardtblcss {
    width: 120px;
  }

  /deep/ .downlinetblcss {
    width: 100px;
  }

  /deep/ .downlineuser {
    width: 150px;
  }

  /deep/ .downlineTree table tr td {
    font-size: 0.9em;
    word-break: break-all;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /deep/ .rewardtblcss {
    width: 150px;
  }

  /deep/ .downlinetblcss {
    width: 150px;
  }

  /deep/ .downlineuser {
    width: 150px;
  }
}
