<div class="row">
  <div class="col-12 col-lg-6" *ngFor="let statusCard of statusCards1">
    <ngx-status-card [statusCard]="statusCard" [fetchingRewardValue]="fetchingRewardValue"></ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12" id="curr1">
        <ngx-earning-card cardName='{{"pages.reward.yourRank" | translate}}' [cardId]="1" [selectedCurrency]="'ANX'" [amount]="userData?.level" [quantity]="userData?.rank" [infinity_name]="userData?.infinity_name"
          [percentage]="0"></ngx-earning-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12" id="curr2">
        <div *ngIf="fetchingDownlineHeaven"><span class="fetchingDownLine"><i class="fa fa-spinner fetchingDownline-margin spinner-color fa-spin"></i></span></div>
        <ngx-earning-card cardName='{{"pages.reward.downlineHeaven" | translate}}' [cardId]="2"
          [selectedCurrency]="'HEAVEN'" [amount]="downline_heaven" [quantity]="total_users"
          [percentage]="0" *ngIf="!fetchingDownlineHeaven"></ngx-earning-card>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12" id="curr3">
        <div *ngIf="fetchingDownlineAngel"><span class="fetchingDownLine"><i class="fa fa-spinner fetchingDownline-margin spinner-color fa-spin"></i></span></div>
        <ngx-earning-card cardName='{{"pages.reward.downlineAngel" | translate}}' [cardId]="3" [selectedCurrency]="'Bitcoin'" [amount]="0" [quantity]="angel_count"
          [percentage]="0" *ngIf="!fetchingDownlineAngel"></ngx-earning-card>
      </div>
      <!-- <div class="col-md-6 col-lg-3 col-sm-12 col-xl-3" id="curr4">
        <ngx-earning-card></ngx-earning-card>
      </div> -->
    </div>
  </div>
</div>

<div class="row" *ngIf="!isProduction">
  <div class="col-lg-6">
    <nb-card class="card-rewardAllocation">
      <nb-card-header>{{"pages.reward.rewardAllocation" | translate}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <!-- <nb-card>
      <nb-card-header>Reward Heaven
      </nb-card-header>
      <nb-card-body>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </nb-card-body>
    </nb-card> -->
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>
<div class="row" *ngIf="!isProduction">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6">
            <div class="navbar-header">
              {{"pages.reward.yourReward" | translate}}
            </div>
          </div>
          <div class="col-md-6 rewardColumn">
            <ul id="main-navigation" class="nav navbar-pill rewardLine">
              <li class="active" style="margin-right:15px;"><a data-toggle="pill" href="#today">{{'common.today' | translate | titlecase}}</a></li>
              <li style="margin-right:15px;"><a data-toggle="pill" href="#week">{{'common.week' | translate}}</a></li>
              <li style="margin-right:15px;"><a data-toggle="pill" href="#month">{{'common.month' | translate}}</a></li>
              <li style="margin-right:15px;"><a data-toggle="pill" href="#total">{{'common.total' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body class="tab-content">
        <div id="today" class="tab-pane active">
          <ng2-smart-table [settings]="settings" [source]="rewardData"></ng2-smart-table>
        </div>
        <div id="week" class="tab-pane fade">
          <ng2-smart-table [settings]="settings" [source]="rewardData"></ng2-smart-table>
        </div>
        <div id="month" class="tab-pane fade">
          <ng2-smart-table [settings]="settings" [source]="rewardData"></ng2-smart-table>
        </div>
        <div id="total" class="tab-pane fade">
          <ng2-smart-table [settings]="settings" [source]="rewardData"></ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="row rewardHistory">
        <div class="col-md-12">
          <div class="navbar-header rewardHistory-tree">
            {{"pages.reward.rewardHistory" | translate}}
          </div>
        </div>
        <!-- <div class="col-md-6 heavenHistoryColumn">
           <ul id="heavenHistory-navigation" class="nav navbar-pill downLine">
             <li class="pointer li-margin">
               <a data-toggle="pill" (click)="getHeavenHistory('today')">{{'common.today'|translate}}</a>
             </li>
             <li class="active pointer li-margin">
               <a data-toggle="pill" (click)="getHeavenHistory('total')">{{'common.total'|translate}}</a>
             </li>
           </ul>
         </div>-->
      </nb-card-header>
      <nb-card-body id="reward-history">
        <div [hidden]="!fetchingHistory"><span class="reward-history-spinner"><i class="fa fa-spinner fa-spin"></i></span></div>
        <div style="overflow: auto;">
          <ng2-smart-table [settings]="reward_history" [source]="source" *ngIf="!fetchingHistory">
          </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <div class="navbar-header downline-tree">
          {{"common.downline" | translate}} {{"pages.reward.tree" | translate}}
        </div>
      </div>
       <div class="col-md-6 downlineColumn">
        <ul id="downline-navigation" class="nav navbar-pill downLine">
          <li class="pointer li-margin">
            <a data-toggle="pill" (click)="getDownlineTree('today')">{{'common.today' | translate | titlecase}}</a>
          </li>
          <li class="active pointer li-margin">
            <a data-toggle="pill" (click)="getDownlineTree('total')">{{'common.total' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nb-card-header>

  <ng-template #noData>
    <nb-card-body>{{"pages.reward.downlineTree.noUserDownlineTree"|translate}}</nb-card-body>
  </ng-template>

  <nb-card-body id="downline-tree" class="tab-content" *ngIf="noDataSource; else noData">
    <div [hidden]="!fetchingDownlineTree"><span class="downline-tree-spinner"><i class="fa fa-spinner fa-spin"></i></span></div>
    <div class="tab-pane active" *ngIf="!fetchingDownlineTree">
      <table class="table table-hover table-bordered downlineTree" [nbTreeGrid]="dataSource" equalColumnsWidth>
        <tr class="all-columns" nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        <ng-container nbTreeGridColumnDef="level">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"common.level" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <nb-tree-grid-row-toggle style="float: right;" [expanded]="row.expanded" *ngIf="row.data.arrow === true">
            </nb-tree-grid-row-toggle>
            {{row.data.level}}
          </td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="username">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"common.username" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <div class="downline-cell">{{row.data.username}}</div>
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="rank">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"pages.reward.downlineTree.rank" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{row.data.rank}}
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="heaven">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"common.heaven" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <span class="text-success">$</span>{{row.data.heaven.toFixed(2)}}
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="reward">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Heaven Drop</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <div class="downline-heavenDrop-cell"> {{row.data.reward.toFixed(0)}} <span class="text-success">ANX</span></div>
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="rate">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"common.rate" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{row.data.rate}}<span>%</span>
          </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="your_reward">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{"pages.reward.downlineTree.your_reward" | translate}}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{row.data.your_reward.toFixed(0)}} <span class="text-success">ANX</span>
          </td>
        </ng-container>
      </table>
    </div>
    <!-- <div id="downlineweek" class="tab-pane fade">
        <table class="table table-hover table-bordered downlineTree">
            <thead style="background-color: #494299;">
              <tr>
                <th>Level</th>
                <th>Username</th>
                <th>Rank</th>
                <th>Heaven</th>
                <th>Reward</th>
                <th>Your Reward</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let downline of downlineData;let i= index">
                <tr data-toggle="collapse" [attr.data-target]="'.downline' + i" class="accordion-toggle">
                  <td>
                    <div><span> {{ downline.level }}</span><span class="expand"><span class="fa fa-caret-down"></span></span></div>
                  </td>
                  <td>
                    <div class="downlineuser"><span> {{ downline.username }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.rank }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.heaven }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.reward }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.yourreward }}</span><span class="delta up">4%</span></div>
                  </td>
                </tr>
                <tr [class]="'hiddenRow expanddiv accordian-body collapse downline' + i"
                  *ngFor="let rowCount of getArray(downline.level); let ib = index"
                  style="background-image: linear-gradient(to right, #494299 , #7659ff);">
                  <td>
                    1
                  </td>
                  <td>
                    <div class="downlineuser"> <span> Rio </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 100% </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
    </div> -->
    <!-- <div id="downlinemonth" class="tab-pane fade">
        <table class="table table-hover table-bordered downlineTree">
            <thead style="background-color: #494299;">
              <tr>
                <th>Level</th>
                <th>Username</th>
                <th>Rank</th>
                <th>Heaven</th>
                <th>Reward</th>
                <th>Your Reward</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let downline of downlineData;let i= index">
                <tr data-toggle="collapse" [attr.data-target]="'.downline' + i" class="accordion-toggle">
                  <td>
                    <div><span> {{ downline.level }}</span><span class="expand"><span class="fa fa-caret-down"></span></span></div>
                  </td>
                  <td>
                    <div class="downlineuser"><span> {{ downline.username }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.rank }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.heaven }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.reward }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.yourreward }}</span><span class="delta up">4%</span></div>
                  </td>
                </tr>
                <tr [class]="'hiddenRow expanddiv accordian-body collapse downline' + i"
                  *ngFor="let rowCount of getArray(downline.level); let ib = index"
                  style="background-image: linear-gradient(to right, #494299 , #7659ff);">
                  <td>
                    1
                  </td>
                  <td>
                    <div class="downlineuser"> <span> Rio </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 100% </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
    </div> -->
    <!-- <div id="downlinetotal" class="tab-pane fade">
        <table class="table table-hover table-bordered downlineTree">
            <thead style="background-color: #494299;">
              <tr>
                <th>Level</th>
                <th>Username</th>
                <th>Rank</th>
                <th>Heaven</th>
                <th>Reward</th>
                <th>Your Reward</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let downline of downlineData;let i= index">
                <tr data-toggle="collapse" [attr.data-target]="'.downline' + i" class="accordion-toggle">
                  <td>
                    <div><span> {{ downline.level }}</span><span class="expand"><span class="fa fa-caret-down"></span></span></div>
                  </td>
                  <td>
                    <div class="downlineuser"><span> {{ downline.username }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.rank }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.heaven }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.reward }}</span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"><span> {{ downline.yourreward }}</span><span class="delta up">4%</span></div>
                  </td>
                </tr>
                <tr [class]="'hiddenRow expanddiv accordian-body collapse downline' + i"
                  *ngFor="let rowCount of getArray(downline.level); let ib = index"
                  style="background-image: linear-gradient(to right, #494299 , #7659ff);">
                  <td>
                    1
                  </td>
                  <td>
                    <div class="downlineuser"> <span> Rio </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 100% </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                  <td>
                    <div class="downlinetblcss"> <span> 131 </span><span class="delta up">4%</span></div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
    </div> -->
  </nb-card-body>
</nb-card>
<ngx-bubble-map *ngIf="!isProduction"></ngx-bubble-map>
