<nb-card>
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Reward">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
      <div class="chart-container">
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-reward-chart #rewardsChart [rewardsChartData]="rewardsChartData"></ngx-reward-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Heaven" >
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
      <div class="chart-container">
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-heaven-chart #heavenChart [heavenChartData]="heavenChartData"></ngx-heaven-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
