@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  
}
.minheight{
  min-height: 250px;
}

.pairtable{width: 100%;}

.pairtable th{
  color:#b8f710;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.0rem;
}
.pairtable td{
  color:#ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}
.pairtable td.changetext{
  text-align: right;
  color:#00ff57;
}
.pairtable tbody tr:nth-of-type(even) {
  background: #87a1b730;
}