<nb-card>
  <nb-card-header class="headsection">Pair</nb-card-header>
  <nb-card-body class="minheight">
    <div class="row">
      <table class="pairtable">
        <thead>
          <tr>
            <th width="37%" class="text-center">Pair</th>
            <th width="33%" class="text-left">Price</th>
            <th width="30%" class="text-right">Change</th>
          </tr>
        </thead>
      </table>
       <div class="available-items">
        <table class="pairtable">
        <tbody>
          <tr>
            <td  width="37%" class="text-center">ANX / BTC</td>
            <td  width="33%" class="text-left">65.6542</td>
            <td  width="30%" class="changetext">12.12%</td>
          </tr>
           <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
           <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="changetext">12.12%</td>
          </tr>

        </tbody>
      </table>
        </div>
    </div>
  </nb-card-body>
</nb-card>

