<nb-card class="card-shadow">
  <nb-card-header class="headsection">Pair</nb-card-header>
  <nb-card-body class="minheight">
    <div class="row">
      <table class="pairtable">
        <thead>
          <tr>
            <th class="text-center">Pair</th>
            <th class="text-left">Price</th>
            <th class="text-right">Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="text-success changetext">12.12%</td>
          </tr>
           <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="text-success changetext">12.12%</td>
          </tr>
           <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="text-success changetext">12.12%</td>
          </tr>
           <tr>
            <td class="text-center">ANX / BTC</td>
            <td class="text-left">65.6542</td>
            <td class="text-success changetext">12.12%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

