<nb-card class="board">
    <nb-card-header class="headsection">Board</nb-card-header>
    <nb-card-body>
      <div class="row">
          <div class="available-items">
  
        <table class="boardtable">
          <thead>
            <tr>
              <th class="text-left">
                <span class="theading-text">PAIR</span>
              </th>
              <th class="text-right no_set_padding">
                <span class="theading-text">Price</span>
              </th>
              <th class="text-right">
                <span class="theading-text">Change</span>
              </th>
            </tr>
          </thead>
        </table>
          </div>
        <div class="available-items">
          <table class="boardtable">
     
              <tr>
                <td class="text-left positionSet">0.0033</td>
                <td class="text-center positionSet">65.6542</td>
                <td class="changetext positionSet">0.8771</td>
              </tr>
               <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
              <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
               <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
              <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
               <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
               <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
              <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
              <tr>
                <td class="text-left">ANX/BTC</td>
                <td class="text-center">65.6542</td>
                <td class="changetext">0.8771</td>
              </tr>
              <tr>
                  <td class="text-left">ANX/BTC</td>
                  <td class="text-center">65.6542</td>
                  <td class="changetext">0.8771</td>
                </tr>
              <tr>
                  <td class="text-left">ANX/BTC</td>
                  <td class="text-center">65.6542</td>
                  <td class="changetext">0.8771</td>
                </tr>
             
          </table>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  
  