<div class="chart-header row">
  <div class="col-lg-8 col-xl-9 col-md-9 col-sm-8">
    <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>
  </div>
  <div class=" col-lg-4 col-xl-3 col-md-3 col-sm-3">
     <div class="dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }"
       ngbDropdown>
    <button type="button" ngbDropdownToggle class="btn"
            [ngClass]="{
              'btn-outline-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default',
              'btn-sm': breakpoint.width <= breakpoints.is}">
      {{ type }}
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">
        {{ period }}
      </li>
    </ul>
  </div>
</div>
</div>
