<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="xsmall">
      <ngx-earning-card-front [cardName]="cardName" [cardId]="cardId" [selectedCurrency]="selectedCurrency" [amount]="amount" [infinity_name]="infinity_name"
                              [quantity]="quantity" [percentage]="percentage"></ngx-earning-card-front>
      <i class="nb-arrow-right" *ngIf="false" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="xsmall">
      <ngx-earning-card-back [selectedCurrency]="selectedCurrency"></ngx-earning-card-back>
      <i class="nb-arrow-right" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
