<!-- <nb-layout> -->
  <!-- <nb-layout-column> -->
<nb-card class="col-md-12 col-lg-12 col-xl-12 nb-card-outer">
  <div class="col-md-8 offset-md-2 nb-card-wrap">
      <nb-card-header class="cardHeadercss">
        <div class="navigation">
          <h1 class="link" style="text-align: center">MERGE</h1>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="mergeBlock">
          <nb-tabset style="justify-content: center;">
            <nb-tab tabTitle="ANL">
              <div class="adjustment" style="margin-top: 2rem;">
                <form [formGroup]="anlForm" (ngSubmit)="onANLSubmit()" class="width-full" aria-labelledby="title">
                  <div class="form-group">
                    <label class="label" for="input-email">ANL Username</label>
                    <input class="form-control" fullWidth="text" placeholder="ANL Username" autofocus
                      formControlName="anlusername">
                    <div *ngIf="submitted && f.anlusername.errors" class="invalid-feedback">
                      <div *ngIf="f.anlusername.errors.required">ANL username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label" for="input-password">ANL Password</label>
                    <input class="form-control" fullWidth name="password" type="password" formControlName="anlpassword"
                      placeholder="ANL Password">
                    <div *ngIf="submitted && f.anlpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.anlpassword.errors.required">ANL Password is required</div>
                    </div>
                  </div>
                  <p class="sub-title title">Your old XTRAVEL account will be merged to new account.</p>
                  <div class="form-group">
                    <button nbButton [disabled]="formSubmitting" class="form-control pointer" fullWidth
                      status="success">
                      <span *ngIf="!formSubmitting">Submit</span>
                      <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting"></i>
                    </button>
                  </div>
                </form>
              </div>
            </nb-tab>
            <nb-tab tabTitle="XTRAVEL">
              <div class="adjustment" style="margin-top: 2rem;">
                <form [formGroup]="xtravelForm" (ngSubmit)="onXtravelSubmit()" class="width-full"
                  aria-labelledby="title">
                  <div class="form-group">
                    <label class="label" for="input-email">XTRAVEL Username</label>
                    <input class="form-control" fullWidth="text" placeholder="XTRAVEL Username" autofocus
                      formControlName="xtravelusername">
                    <div *ngIf="xtravelsubmitted && fxtravel.xtravelusername.errors" class="invalid-feedback">
                      <div *ngIf="fxtravel.xtravelusername.errors.required">XTRAVEL username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label" for="input-password">XTRAVEL Password</label>
                    <input class="form-control" fullWidth name="password" type="password"
                      formControlName="xtravelpassword" placeholder="XTRAVEL Password">
                    <div *ngIf="xtravelsubmitted && fxtravel.xtravelpassword.errors" class="invalid-feedback">
                      <div *ngIf="fxtravel.xtravelpassword.errors.required">XTRAVEL Password is required</div>
                    </div>
                  </div>
                  <p class="sub-title title">Your old XTRAVEL account will be merged to new account.</p>
                  <div class="form-group">
                    <button nbButton [disabled]="xtravelformSubmitting" class="form-control pointer" fullWidth
                      status="success">
                      <span *ngIf="!xtravelformSubmitting">Submit</span>
                      <i class="fa fa-spinner fa-spin text-white" *ngIf="xtravelformSubmitting"></i>
                    </button>
                  </div>
                </form>
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
      </nb-card-body>
  </div>
</nb-card>
  <!-- </nb-layout-column> -->
<!-- </nb-layout> -->
