@import '/../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  /deep/ nb-stepper .step-content {
    text-align: center;

    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
}
 nb-card-body {
   overflow: unset !important;
}
 .dropdown-menu {
   background-color: #3d3780 !important;
   border: 2px solid #7659ff !important;
 }

 .dropDown-padding {
   padding: 14px;
 }

 .dropDown-upload-padding {
   padding: 0.88rem 1.5rem;
 }
.navigation{
  float: left;
    padding: 0;
    margin: 0;
}
.navigation a i{
  font-size: 25px;
}
.nb-theme-cosmic [nbButton]{    padding: 1.0rem 1.5rem;}

@include media-breakpoint-down(sm) {
  .kyc-margin {
    margin-top: 10px;
  }
}

