@import '/../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  /deep/ nb-stepper .step-content {
    text-align: center;

    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
}
.navigation{
  float: left;
    padding: 0;
    margin: 0;
}
.navigation a i{
  font-size: 25px;
}
.nb-theme-cosmic [nbButton]{    padding: 1.0rem 1.5rem;}

@include media-breakpoint-down(sm) {
  .kyc-margin {
    margin-top: 10px;
  }
}

