<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header class="text-center">KYC</nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Fourth step</ng-template>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Information</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Project" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="First Name" class="form-control" />
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Last Name" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-4 input-group">
              <select class="form-control">
                <option>Day</option>
                <option>Gomel</option>
                <option>Brest</option>
                <option>Grodno</option>
                <option>Mogilev</option>
              </select>
            </div>
            <div class="col-sm-4 input-group">
              <select class="form-control">
                <option>Month</option>
                <option>Gomel</option>
                <option>Brest</option>
                <option>Grodno</option>
                <option>Mogilev</option>
              </select>
            </div>
            <div class="col-sm-4 input-group">
              <select class="form-control">
                <option>year</option>
                <option>Gomel</option>
                <option>Brest</option>
                <option>Grodno</option>
                <option>Mogilev</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-5 input-group">
              <select class="form-control">
                <option>Country</option>
                <option>Gomel</option>
                <option>Brest</option>
                <option>Grodno</option>
                <option>Mogilev</option>
              </select>
            </div>
            <div class="col-sm-7 input-group">
              <input type="text" placeholder="Mobile Number" class="form-control" />
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Upload</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-10 input-group">
              <input type="text" placeholder="ID(front)" class="form-control" />
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="btn btn-primary" type="button" ngbDropdownToggle>
                upload
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button</li>
                <li class="dropdown-item">Hero Button</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-10 input-group">
              <input type="text" placeholder="ID(back)" class="form-control" />
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="btn btn-primary" type="button" ngbDropdownToggle>
                upload
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button</li>
                <li class="dropdown-item">Hero Button</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row full-name-inputs">
            <div class="col-sm-10 input-group">
              <input type="text" placeholder="Proof of address" class="form-control" />
            </div>
            <div class="dropdown" ngbDropdown>
              <button class="btn btn-primary" type="button" ngbDropdownToggle>
                upload
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button</li>
                <li class="dropdown-item">Hero Button</li>
              </ul>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6 offset-md-3">
    <div class="form-group">
      <button nbButton class="form-control pointer" fullWidth status="success">
        <span>Submit</span>
      </button>
    </div>
  </div>
</div>