<nb-card class="no-glow">
  <div class="icon-container">
    <div class="icon {{ statusCard.type }}">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="details full-width">
    <div class="row">
      <div class="col-md-6 col-xs-12 mt-2">
        <div class="title">{{ statusCard.title }}</div>
      </div>
      <div class="col-md-6 col-xs-12 mt-1" *ngIf="statusCard.fetchingValue">
        <div class="status text-white mt-0"><span><i class="fa fa-spinner spinner-color fa-spin"></i></span></div>
      </div>
      <div class="col-md-6 status-padding col-xs-12" *ngIf="!statusCard.fetchingValue">
        <div class="status text-white"><span class="text-success">$</span>{{ (statusCard.value || 0) | number : '1.0-2' }}</div>
        <div class="delta up" *ngIf="false">0%</div>
      </div>
    </div>
  </div>
</nb-card>
