<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="xsmall">
      <ngx-reward-status-card-front [statusCard]="statusCard" [fetchingRewardValue]="fetchingRewardValue">
        <i [ngClass]="statusCard.iconClass"></i>
      </ngx-reward-status-card-front>
      <i class="nb-arrow-right pointer arrow-margin" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="xsmall">
      <ngx-reward-status-card-back [statusCard]="statusCard" [fetchingRewardValue]="fetchingRewardValue">
        <i [ngClass]="statusCard.iconClass"></i>
      </ngx-reward-status-card-back>
      <i class="nb-arrow-right pointer arrow-margin" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
