<nb-card>
  <div class="icon-container">
    <div class="icon {{ type }}">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="details full-width">
    <div class="row">
      <div class="col-6 pr-0">
        <div class="title mt-1">{{ title }}</div>
      </div>
      <div class="col-6" *ngIf="fetchingRewardValue">
        <div class="status text-white mt-0"><i class="fa fa-spinner spinner-color fa-spin"></i></div>
      </div>
      <div class="col-6" *ngIf="!fetchingRewardValue">
        <!-- <div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
          <button type="button" ngbDropdownToggle class="btn"
                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                              'btn-primary': currentTheme !== 'default',
                              'btn-sm': breakpoint.width <= breakpoints.is}">
            {{ typeOfPeriod }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">
              {{ period }}
            </li>
          </ul>
        </div> -->
        <!-- <div class="clearfix"></div> -->
        <div class="status text-white"><span class="text-success" *ngIf="title !== 'Reward Today'">$</span>{{ value | number : '1.0-2'}} <span class="text-success" *ngIf="title === 'Reward Today'">{{'common.cryptos.anx'|translate}}</span></div>
        <div class="delta" *ngIf="false" [class.up]="percentage >= 0" [class.down]="percentage < 0">
          {{percentage > 0 ? percentage : (-1 * percentage)}}%
        </div>
        <!-- <nb-progress-bar class="progress-container" [value]="75"></nb-progress-bar> -->
      </div>
    </div>
  </div>
</nb-card>
