<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <div class="row">
            <div class="col-md-12">
              <nb-card-header>
                <nav class='navigation'>
                  <a routerLink="/login" class='link' aria-label='Back'>
                    <i class='icon nb-arrow-thin-left'></i></a>
                  <h1 id="title" class="title">Change Password</h1>
                  <p class="sub-title title">Please set a new password.</p>
                </nav>
              </nb-card-header>
            </div>
            <nb-card-body>
              <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-2 col-1"></div>
                <div class="col-xl-4 col-lg-6 col-md-8 col-10">
                  <form #form="ngForm" class="width-full" aria-labelledby="title">
                    <div class="form-group">
                      <label class="label" for="input-email">New Password:</label>
                      <input class="form-control" fullWidth name="password" type="password" id="input-email"
                             pattern=".+@.+\..+" placeholder="New Password"
                             autofocus>
                    </div>

                    <div class="form-group">
                      <label class="label" for="input-password">Confirm Password:</label>
                      <input class="form-control" fullWidth name="password" type="password" id="input-password"
                             placeholder="Confirm Password">
                    </div>
                    <div class="form-group accept-group">
                      <button nbButton class="form-control" fullWidth status="success">
                        CHANGE PASSWORD
                      </button>
                    </div>
                    <div class="form-group accept-group">
                      <a routerLink="/login">Back to Log In</a>
                      <a class="forgot-password" routerLink="/register">Register</a>
                    </div>
                  </form>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-2 col-1"></div>
              </div>
            </nb-card-body>
          </div>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
