<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>PROFILE</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <nb-card-body>
              <nb-user [picture]="'assets/images/nick.png'" [name]="'Nick Jones'" [title]="'nick'" size="large">
              </nb-user>
            </nb-card-body>
          </div>
  <table class="table borderless mright">
    <thead>
    </thead>
    <tbody>
      <tr class="spacer">
        <td>USERNAME</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr class="spacer">
        <td>USER ID</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr>
        <td>REFFERAL LINK</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr>
        <td>LEVEL</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr>
        <td>KYC</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr>
        <td>E-MAIL</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
      <tr>
        <td>COUNTRY</td>
        <td>texttext</td>
        <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
      </tr>
    </tbody>
  </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>SETTING</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless mright">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>PASSWORD</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>2FA</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>SECRET KEY</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>CURRENCY</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>LANGUAGE</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>ABOUT</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless mright">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>ANGELIUM</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>ANX</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>ANL</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>WALLET</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>HEAVEN</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>REWARD</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>LINK</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless mright">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>OFFICAL SITE</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>APP IOS</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>APP ANDROID</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>TELEGRAM (En)</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>TELEGRAM (Jp)</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>TELEGRAM (Cn)</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
              <tr>
                <td>TELEGRAM (Kr)</td>
                <td>texttext</td>
                <td><span class="icon-r"><i class="far fa-edit"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
