<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>{{"common.profile" | translate}}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <nb-card-body>
              <i class="nb-edit nb-icon-left fa-2x" (click)="openDialog(dialog)"></i>
              <nb-user
                [picture]="userData?.avatar"
                [name]="userData?.username"
                title="{{(userData?.infinity_name || '') + ' ' + userData?.rank}}"
                size="large">
              </nb-user>
            </nb-card-body>
          </div>
          <div class="col-md-12 font-nunitoSans">
            <table class="table borderless tablemarginfix">
              <thead>
              </thead>
              <tbody>
                <tr class="spacer">
                  <td class="title-col">{{"common.username" | translate}}</td>
                  <td class="value-col">{{userData?.username | titlecase}}</td>
                  <td class="action-col iconpaddfix"><i class="nb-edit fa-2x" (click)="openDialog(changeUsername)"></i></td>
                </tr>
                <tr class="spacer">
                  <td class="title-col">{{"pages.setting.name" | translate}}</td>
                  <td class="value-col">{{userData?.fullname | titlecase}}</td>
                  <td class="action-col"></td>
                </tr>
                <tr>
                  <td class="title-col">{{"pages.setting.eMail" | translate}}</td>
                  <td class="value-col">{{userData?.email}}</td>
                  <td class="action-col"></td>
                </tr>
                <tr>
                  <td class="title-col">{{"common.country" | translate}}</td>
                  <td class="value-col">{{userData?.country | titlecase}}</td>
                  <td class="action-col iconpaddfix"><i class="nb-edit fa-2x" *ngIf="false" (click)="openCountryDialog('Country', userData?.country)"></i></td>
                </tr>
                <tr>
                  <td class="title-col">{{"common.phone" | translate}}</td>
                  <td class="value-col">{{userData?.phone}}</td>
                  <td class="action-col"></td>
                </tr>
                <tr>
                  <td class="title-col">{{"pages.setting.referral" | translate}}</td>
                  <td class="value-col">{{userData?.referral_link}}</td>
                  <td class="action-col text-center">
                    <i ngxClipboard [cbContent]="userData?.referral_link" (click)="copyReferralLink()"
                      class="fa fa-clone ref-link-icon fa-2x"></i>
                  </td>
                </tr>
                <tr>
                  <td class="title-col">{{"pages.setting.qr" | translate}}</td>
                  <td class="value-col">{{"pages.setting.downloadQRCodeOfYourReferralLink" | translate}}</td>
                  <td class="action-col text-center td-padding">
                    <i class="ion-archive down-qrCode-icon fa-2x" (click)="openDialog(QRdialog)"></i>
                  </td>
                </tr>
                <tr>
                  <td class="title-col">{{"pages.setting.rank" | translate}}</td>
                  <td class="value-col">{{(userData?.infinity_name || '') + ' ' + userData?.rank}}</td>
                  <td class="action-col"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-8">{{"common.option" | translate}}</div>
          <div class="col-4 clean-cache-margin text-right" *ngIf="shareDataService?.newVersion"><a class="clean-cache-text pointer" (click)="reloadCache()">{{"pages.setting.updateApp" | translate}}</a></div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="col-md-12 nopadd font-nunitoSans">
          <table class="table borderless tablemarginfix">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td class="title-col">{{"common.password" | translate}}</td>
                <td class="value-col">
                  *************
                </td>
                <td class="action-col iconpaddfix"><i class="nb-edit fa-2x" (click)="openDialog(changeLoginPassword)"></i></td>
              </tr>
              <tr>
                <td class="title-col">{{"common.tradePassword" | translate}}</td>
                <td class="value-col">
                  *************
                </td>
                <td class="action-col iconpaddfix"><i class="nb-edit fa-2x" (click)="openDialog(changeTradePassword)"></i></td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.2FA" | translate}}</td>
                <td class="value-col iconpaddfix" colspan="2">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary paddfix btn-sm {{ tfamodeSwitchText ? '': 'active'}}"
                      (click)="openTFAModal(false)">
                      <input type="radio" name="options">
                      {{"pages.setting.off" | translate}}
                    </label>
                    <label  class="btn btn-secondary paddfix btn-sm {{ tfamodeSwitchText ? 'active': ''}}"
                      (click)="openTFAModal(true, tfaTemplate)">
                      <input type="radio" name="options">
                      {{"pages.setting.on" | translate}}
                    </label>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!isProduction">
                <td class="title-col">{{"pages.setting.secretKey" | translate}}</td>
                <td class="value-col">**************</td>
                <td class="action-col iconpaddfix"></td>
              </tr>
              <tr>
                <td class="title-col">{{"common.kyc" | translate}}</td>
                <td class="value-col">{{(userData?.kyc_info?.status || "pages.kyc.input") | translate}}</td>
                <td class="action-col iconpaddfix">
                  <i class="nb-edit fa-2x" *ngIf="!userData?.kyc_info?.status_description || userData?.kyc_info?.status_description !== 'confirmed'" routerLink="/pages/kyc"></i>
                </td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.currency" | translate}}</td>
                <td class="value-col">{{"pages.setting.usd" | translate}}</td>
                <td class="action-col iconpaddfix"></td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.r18mode" | translate}}</td>
                <td class="value-col iconpaddfix" colspan="2">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary paddfix btn-sm {{ r18modeSwitchText ? '': 'active'}}"
                      (click)="r18mode(false)">
                      <input type="radio" name="options">
                      {{"pages.setting.off" | translate}}
                    </label>
                    <label  class="btn btn-secondary paddfix btn-sm {{ r18modeSwitchText ? 'active': ''}}"
                      (click)="r18mode(true)">
                      <input type="radio" name="options">
                      {{"pages.setting.on" | translate}}
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.merge" | translate}}</td>
                <td>
                  <a class="pointer text-color" (click)="showKYCToastr()"
                     *ngIf="!(userData?.kyc_info && userData?.kyc_info?.status_description === 'confirmed')">
                    {{"pages.setting.clickHere" | translate}}
                  </a>
                  <a class="pointer text-color" href="https://member.angelium.net/?anl_request=1&e={{userData?.email}}"
                     *ngIf="userData?.kyc_info && userData?.kyc_info?.status_description === 'confirmed'" target="_blank">
                    {{"pages.setting.clickHere" | translate}}
                  </a>
                </td>
                <td class="action-col iconpaddfix"></td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.language" | translate}}</td>
                <td colspan="2" class="td-padding">
                  <div class="status-dd-week dropup" ngbDropdown placement="top">
                    <button type="button" ngbDropdownToggle class="btn b-language-size btn-padding btn-primary"
                            [ngClass]="{'btn-sm': breakpoint.width <= breakpoints.is}">
                      {{ selectedLang }}
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item {{selectedLang === lan?.language ? 'active' : ''}}" *ngFor="let lan of languageData"
                        (click)="changeLang(lan)">
                        {{ lan?.language }}
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.timezone" | translate}}</td>
                <td colspan="2" class="td-padding">
                  <div class="status-dd-week dropup" ngbDropdown placement="top">
                    <ng-select autocomplete="false" [(ngModel)]="selectedTimezone" (close)="changeTimezone(selectedTimezone)" [clearable]="false">
                      <ng-option *ngFor="let timezone of timezoneData" [value]="timezone">
                        {{timezone}}
                      </ng-option>
                    </ng-select>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.support" | translate}}</td>
                <td><a class="pointer chatHover" (click)="openChatDialog()">{{"pages.setting.chatNow" | translate}} <i class="fa fa-comments ml-1"></i></a></td>
                <td></td>
              </tr>

              <tr>
                <td class="title-col">{{"pages.setting.reportBug" | translate}}</td>
                <td><a class="pointer text-color" href="https://forms.gle/DWYtsKGqz3SA8bWo7" target="_blank">{{"pages.setting.clickToReport" | translate}}</a></td>
                <td></td>
              </tr>
              <tr>
                <td class="title-col">{{"pages.setting.supportTicket" | translate}}</td>
                <td><a class="pointer text-color" routerLink="/report/">{{"pages.setting.createTicket" | translate}}</a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>ABOUT</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td class="title-col">ANGELIUM</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">ANX</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">ANL</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">WALLET</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">HEAVEN</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">REWARD</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>LINK</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td class="title-col">OFFICAL SITE</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">APP IOS</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">APP ANDROID</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (En)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Jp)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Cn)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Kr)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->

<ng-template #changeUsername let-data let-ref="dialogRef">
  <nb-card class="changePassword">
    <nb-card-header>
      {{"pages.setting.toastr.changeUsername" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelUsernameDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="text" [(ngModel)]="newUsername"
        placeholder="{{'pages.setting.usernameOnlyEnglish' | translate}}" nbInput/>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="submit-btn" size="small" (click)="onChangeUsername(ref)">{{"common.submit" | translate}}</button>
      <button nbButton class="cancel-btn" size="small" (click)="cancelUsernameDialog(ref)">{{"common.cancel" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #changeLoginPassword let-data let-ref="dialogRef">
  <nb-card  class="changePassword">
    <nb-card-header>
      {{"pages.setting.toastr.changeLoginPassword" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelLoginPasswordDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="password" [(ngModel)]="oldLoginPassword" placeholder="{{'pages.setting.oldPassword' | translate}}" nbInput/><br/><br/>
      <input type="password" [(ngModel)]="newLoginPassword" placeholder="{{'pages.setting.newPassword' | translate}}" nbInput/><br/><br/>
      <input type="password" [(ngModel)]="confirmLoginPassword"
      placeholder="{{'pages.setting.confirmPassword' | translate}}" nbInput/>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="submit-btn" size="small" (click)="changeLoginPasswordDialog(ref)">{{"common.submit" | translate}}</button>
      <button nbButton class="cancel-btn" size="small" (click)="cancelLoginPasswordDialog(ref)">{{"common.cancel" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #changeTradePassword let-data let-ref="dialogRef">
  <nb-card  class="changePassword">
    <nb-card-header>
      {{"pages.setting.toastr.changeTradePassword" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelTradePasswordDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="password" [(ngModel)]="oldTradePassword" placeholder="{{'pages.setting.oldPassword' | translate}}" nbInput/><br/><br/>
      <p class="trade-text">- {{"pages.setting.or" | translate}} -</p>

      <div class="row">
        <div class="col-md-7 col-12">
          <input type="text" [(ngModel)]="verificationCode" placeholder="{{'common.verificationCode' | translate}}" nbInput/><br/><br/>
        </div>
        <div class="col-md-5 col-12  paddbtnfix">
          <button type="submit" [disabled]="otpSubmitting || otpSubmitted"
            class="btn btn-success sent-btn"
            size="large" (click)="onSubmitOtp()">
            <span *ngIf="!otpSubmitting">
              {{isResubmit ? ('common.resend' | translate ) : ('common.sendSMS' | translate)}}
            </span>
            <i class="fa fa-spinner fa-spin text-white" *ngIf="otpSubmitting"></i>
          </button><br/><br/>
        </div>
      </div>

      <input type="password" [(ngModel)]="newTradePassword" placeholder="{{'pages.setting.newPassword' | translate}}" nbInput/><br/><br/>
      <input type="password" [(ngModel)]="confirmTradePassword" placeholder="{{'pages.setting.confirmPassword' | translate}}" nbInput/>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="submit-btn" size="small" (click)="changeTradePasswordDialog(ref)">{{"common.submit" | translate}}</button>
      <button nbButton class="cancel-btn" size="small" (click)="cancelTradePasswordDialog(ref)">{{"common.cancel" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #tfaTemplate let-data let-ref2FA="dialogRef">
  <nb-card class="tfa-width">
    <nb-card-header class="image-scoll-card-body">
      {{"pages.setting.enable2FA" | translate}}  <i class="nb-close nb-icon-left fa-2x" (click)="ref2FA.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <div class="enable-2fa text-2fa">{{"pages.setting.scanQRCodeText" | translate}}</div><br><br>
      <span class="enable-2fa">{{"pages.setting.QRCode" | translate}}</span><br><br>
      <img class="qr-code-tfa" [src]="qrCode"><br><br>
      <span class="enable-2fa mr-2">{{"pages.setting.secretKey" | translate}}: </span><span class="text-2fa">{{secretKey}}</span><br><br>
      <span class="enable-2fa mr-3">{{"pages.setting.googleCode" | translate}}:</span>
      <input type="password" class="otp-margin" [(ngModel)]="tfaOtp" (keyup.enter)="verifyOTP(ref2FA)" placeholder="{{'pages.setting.2FAcode' | translate}}" nbInput /><br /><br />
    </nb-card-body>
    <nb-card-footer class="text-center">
      <button nbButton [disabled]="otpSubmitting" size="small" class="button-width" (click)="verifyOTP(ref2FA)">
        <span *ngIf="!otpSubmitting">{{"pages.setting.enable2FA" | translate}}</span>
        <i class="fa fa-spinner fa-spin text-white" *ngIf="otpSubmitting"></i>
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      {{"pages.setting.uploadImage" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelUploadDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="file" nbInput (change)="fileChangeEvent($event)" />
      <br> <br>
      <div>
        <image-cropper class="image-cropper-width"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="150"
          [cropperMinWidth]="300"
          [cropperMinHeight]="300"
          format="png"
          [alignImage]="center"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="img-cpr">
        <img [src]="croppedImage" />
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="upload-btn" size="small" (click)="uploadPicture(ref)">{{"common.upload" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #QRdialog let-data let-refQR="dialogRef">
  <nb-card>
    <nb-card-header>
      {{"pages.setting.QRCode" | translate}}  <i class="nb-close nb-icon-left fa-2x" (click)="refQR.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <ngx-qrcode
        id="QR_Canvas"
        [qrc-element-type]="elementType"
        [qrc-value]="userData?.referral_link"
        qrc-class="aclass"
        qrc-errorCorrectionLevel="L">
      </ngx-qrcode>
    </nb-card-body>
    <nb-card-footer class="text-center">
      <button nbButton size="small" (click)="downloadQR()">{{"pages.setting.download" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #createTicket let-data let-ref="dialogRef">
  <nb-card class="changePassword">
    <nb-card-header>{{"pages.setting.createTicket" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelTicketDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="type" [(ngModel)]="ticketTitle" placeholder="{{'pages.setting.ticketTitle' | translate}}" nbInput /><br /><br />
      <input type="type" [(ngModel)]="ticketDescription" placeholder="{{'pages.setting.ticketDescription' | translate}}" nbInput /><br/><br/>
      <div class="status-dd-week dropup" ngbDropdown placement="top">
        <button type="button" ngbDropdownToggle class="btn b-language-size btn-padding btn-primary" [ngClass]="{'btn-sm': breakpoint.width <= breakpoints.is}">
          {{ selectedTicket }}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item {{selectedTicket === issue ? 'active' : ''}}" *ngFor="let issue of issueTypes"
            (click)="changeIssue(issue)">
            {{ issue }}
          </li>
        </ul>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="btn submit-btn" size="small"
        [disabled]="ticketSubmitting"
        (click)="createTicketDialog(ref)">
        <span >{{'common.submit' | translate}}</span>
        <!-- <i class="fa fa-spinner fa-spin text-white" *ngIf="ticketSubmitting"></i> -->
      </button>

      <button nbButton class="cancel-btn" size="small" (click)="cancelTicketDialog(ref)">{{"common.cancel" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
