<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>PROFILE</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <nb-card-body>
              <i class="nb-edit nb-icon-left fa-2x" (click)="open(dialog)"></i>
              <nb-user
                [picture]="userData?.avatar"
                [name]="userData?.fullname"
                title="{{'Lv. ' + userData?.level}}"
                size="large">
              </nb-user>
            </nb-card-body>
          </div>
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr class="spacer">
              <td class="title-col">USER NAME</td>
              <td class="value-col">{{userData?.username}}</td>
              <td class="action-col"></td>
            </tr>
            <tr class="spacer">
              <td class="title-col">USER ID</td>
              <td class="value-col">{{userData?.id}}</td>
              <td class="action-col"></td>
            </tr>
            <tr>
              <td class="title-col">REFFERAL LINK</td>
              <td class="value-col">{{userData?.referral_link}}</td>
              <td class="action-col"></td>
            </tr>
            <tr>
              <td class="title-col">E-MAIL</td>
              <td class="value-col">{{userData?.email}}</td>
              <td class="action-col"></td>
            </tr>
            <tr>
              <td class="title-col">PHONE</td>
              <td class="value-col">{{userData?.phone}}</td>
              <td class="action-col"></td>
            </tr>
            <tr>
              <td class="title-col">COUNTRY</td>
              <td class="value-col">{{userData?.country}}</td>
              <td class="action-col"><i class="nb-edit fa-2x" (click)="openDialog('country', userData?.country)"></i></td>
            </tr>
            <tr>
              <td class="title-col">LEVEL</td>
              <td class="value-col">{{userData?.level}}</td>
              <td class="action-col"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>SETTING</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td class="title-col">PASSWORD</td>
              <td class="value-col">
                **********
              </td>
              <td class="action-col"><i class="nb-edit fa-2x" (click)="openDialog('password', '')"></i></td>
            </tr>
            <tr>
              <td class="title-col">R-18 MODE</td>
              <td class="value-col">
                <!-- <label class="switch">
                  <input type="checkbox" name="r18mode" (change)="r18mode($event)" [checked]="userData?.r18mode">
                  <span class="slider round"></span>
                </label> -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary paddfix btn-sm {{ userData?.r18mode ? '': 'active'}}"
                    (click)="r18mode(false)">
                    <input type="radio" name="options"> 
                    OFF
                  </label>
                  <label class="btn btn-secondary paddfix btn-sm {{ userData?.r18mode ? 'active': ''}}"
                    (click)="r18mode(true)">
                    <input type="radio" name="options"> ON
                  </label>
                </div>
              </td>
              <td class="action-col"></td>
            </tr>
            <!-- <tr>
              <td class="title-col">2FA</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">SECRET KEY</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">CURRENCY</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">LANGUAGE</td>
              <td>texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">MERGE</td>
              <td>Merge your old data</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr> -->
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>ABOUT</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td class="title-col">ANGELIUM</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">ANX</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">ANL</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">WALLET</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">HEAVEN</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">REWARD</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>LINK</nb-card-header>
      <nb-card-body>
        <div class="row">
          <table class="table borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
              <td class="title-col">OFFICAL SITE</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">APP IOS</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">APP ANDROID</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (En)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Jp)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Cn)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            <tr>
              <td class="title-col">TELEGRAM (Kr)</td>
              <td class="value-col">texttext</td>
              <td class="action-col"><i class="nb-edit fa-2x"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Upload image
      <i class="nb-close nb-icon-left fa-2x" (click)="ref.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="file" nbInput (change)="fileChangeEvent($event)" />
      <br> <br>
      <div>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="150"
          [cropperMinWidth]="300"
          [cropperMinHeight]="300"
          format="png"
          [alignImage]="center"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="img-cpr">
        <img [src]="croppedImage" />
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="upload-btn" size="small" (click)="uploadPicture(ref)">Upload</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
