<nb-card-header>
  <div class="curre">{{ selectedCurrency }} </div>
  <div class="dropdown ghost-dropdown" ngbDropdown>
    <button type="button" class="btn btn-sm" ngbDropdownToggle [ngClass]="{
              'btn-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default'}">
      {{"common.month"|translate}}
    </button>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li class="dropdown-item">{{"common.week"|translate}}</li>
      <li class="dropdown-item">{{"common.month"|translate}}</li>
      <li class="dropdown-item">{{"common.year"|translate}}</li>
    </ul>
  </div>
</nb-card-header>

<nb-card-body>
  <div class="chart-info">
    <div class="title"><span class="color-green">$</span> 300</div>
    <div class="value" style="float:right;">
      {{ earningLiveUpdateCardData.dailyIncome | ngxNumberWithCommas }}
    </div>
    <!-- <div class="delta" [class.up]="earningLiveUpdateCardData.delta.up"
      [class.down]="!earningLiveUpdateCardData.delta.up">
      {{ earningLiveUpdateCardData.delta.value }}%
    </div> -->
  </div>
  <ngx-earning-live-update-chart [liveUpdateChartData]="liveUpdateChartData">
  </ngx-earning-live-update-chart>
</nb-card-body>
