@import '../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
    color: #ffffff !important;
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }

  nb-auth-block {
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      height: 100vh;
    }
  }

  /deep/ {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: $auth-layout-padding;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  .title-font {
    margin-top: 2rem;
    font-size: 35px;
    font-family: nb-theme(font-bebas-light);
  }

  .sub-title {
    font-size: 18px;
    margin-top: 2rem;
    font-family: nb-theme(font-nunito);
  }

  .logo-image {
    width: 40%;
    height: auto;
    margin: 0 30% 0.5rem;
  }
}
