<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-auth-block>
          <div>
            <img src="../../assets/images/angelium_logo.png" class="logo-image pointer" (click)="redirectPage()"/>
            <div id="title" class="title title-font"><b>- SYSTEM  UPGRADING NOW -</b></div>
            <p class="sub-title title"><b>PLEASE REVISIT US IN 1 HOUR LATER</b></p>
          </div>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
