<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-auth-block>
          <div>
            <img src="../../assets/images/angelium_logo.png" class="logo-image pointer" (click)="redirectPage()"/>
            <div id="title" class="text-success title title-font"><b>SYSTEM UPGRADING NOW</b></div>
            <p class="sub-title">Please revisit us 1 hour later</p>
          </div>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
