<nb-card>
  <div class="icon-container">
    <div class="icon {{ statusCard.type }}">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="details full-width">
    <div class="row">
      <div class="col-md-6 col-xs-12 mt-2">
        <div class="title">{{ statusCard.title }}</div>
      </div>
      <div class="col-md-6 col-xs-12" *ngIf="statusCard.fetchingHeavenDropValue">
        <div class="status text-white mt-0"><span><i class="fa fa-spinner spinner-color fa-spin"></i></span></div>
      </div>
      <div class="col-md-6 col-xs-12 pr-3" *ngIf="!statusCard.fetchingHeavenDropValue">
        <!--<div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
          <button type="button" ngbDropdownToggle class="btn"
                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                               'btn-primary': currentTheme !== 'default',
                               'btn-sm': breakpoint.width <= breakpoints.is}">
            {{ typeOfPeriod }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">
              {{ period }}
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>-->
        <div class="status text-white">{{ (statusCard.value_anx || 0) | number : '1.0-0' }} <span class="text-success">{{"common.cryptos.anx" | translate}}</span></div>
        <div class="delta up" *ngIf="false">0%</div>
        <!--<nb-progress-bar class="progress-container" [value]="75"></nb-progress-bar>-->
      </div>
    </div>
  </div>
</nb-card>
