.table_body tr td{border: none;	font-size: 16px;	padding: 2px 2px;}
.card_body{	background: #3d3780;margin-bottom: 20px;border-radius: 4px;}
h6.card_heading { margin: 0 0 10px 0; border-bottom: 1px solid #383279;padding: 14px 20px 10px 20px; font-size: 12px;}
.table_bg{background: none; border: 2px solid #03d87c; color: #fff;
    width: 150px; padding: 10px 0;border-radius: 4px; margin: 12px auto;
    cursor: pointer;}
.table_bg:hover { background-image: linear-gradient(to right, #00d8b2,#03d87c);
    border: 2px solid #03d87c;color: #fff; width: 150px; padding: 10px 0;
    border-radius: 4px;margin: 12px auto;}
.image_div .menu_img{	background: linear-gradient(to left, #9a54fe 0%, #7e58ff 100%);
	padding: 14px 18px; border-radius: 4px 0 0 4px; float: left;
    display: inline-block; margin-right: 14px;}
.image_div h6{margin-top: 8px;}
.image_div p{margin:0;font-size: 24px;}
.image_btn{background: #7658fe;}
.heaven_div{float: left;}
.image_div p span{color: #0ace77;}
.btn_img{text-align: right;margin: 13px 10px 11px 0;}
.btn_img button{border: none;padding: 4px 30px 4px 24px;background: #7658fe;
    border-radius: 4px; color: #fff;}
.image_btn1{padding: 4px 23px 4px 20px !important;}
.btn_img1{margin-right: 20px;}
.btn_img2{margin-left: 20px;}