<div class="row">
	<div class="col-12 col-lg-6">
		<nb-card class="top-content">
			<div class="icon-container">
				<div class="icon primary"> <i class="fa fa-university"></i></div>
			</div>
			<div class="details">
				<label>Heaven</label>
				<label class="bigger-text"><span>$</span> 572,900</label>
			</div>
			<div class="actions flex-end text-right">
				<nb-select class="slct" placeholder="Week">
					<nb-option value="1">Week</nb-option>
					<nb-option value="2">Month</nb-option>
					<nb-option value="3">Year</nb-option>
				</nb-select>
				<div class="progress-data ">
					<div class="delta value up"> 4% </div>
					<div class="progress-container">
						<div class="progress-value " style="width: 70%;"></div>
					</div>
				</div>
			</div>
		</nb-card>
	</div>
	<div class="col-12 col-lg-6">
		<nb-card class="top-content">
			<div class="icon-container">
				<div class="icon primary"> <i class="nb-bar-chart"></i></div>
			</div>
			<div class="details">
				<label>Heaven drop</label>
				<label class="bigger-text"><span>$</span> {{heavenDrop?.total_amount}}</label>
			</div>
			<div class="actions flex-end text-right">
				<span class="progress-data-value"><span class="color-green">{{heavenDrop?.total_anx}}</span> ANX</span>
				<nb-select class="slct" placeholder="Week">
					<nb-option value="1">Week</nb-option>
					<nb-option value="2">Month</nb-option>
					<nb-option value="3">Year</nb-option>
				</nb-select>
				<div class="progress-data">
					<div class="delta value up"> {{heavenDrop?.parcentage}}% </div>
					<div class="progress-container">
						<div class="progress-value " [style.width.%]="heavenDrop?.parcentage"></div>
					</div>
				</div>

			</div>
		</nb-card>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 30</h6>
			<table class="table">
				<tr>
					<td rowspan="2" class="days-col">30</td>
					<td class="monthly-col">Monthly</td>
					<td class="daily-col">Daily</td>
				</tr>
				<tr>
					<td class="monthly-val">4.50%</td>
					<td class="daily-val">0.15%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
			</table>
			<button class="table_bg" [ngClass]="{'selectedHeaven':selectedHevenPlan=='heaven30'}" (click)="selectedHevenPlan = 'heaven30'">Choose</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 60</h6>
			<table class="table">
				<tr>
					<td rowspan="2" class="days-col">60</td>
					<td class="monthly-col">Monthly</td>
					<td class="daily-col">Daily</td>
				</tr>
				<tr>
					<td class="monthly-val">6.00%</td>
					<td class="daily-val">0.20%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
			</table>
			<button class="table_btn table_bg" [ngClass]="{'selectedHeaven':selectedHevenPlan=='heaven60'}" (click)="selectedHevenPlan = 'heaven60'">Choose</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 90</h6>
			<table class="table">
				<tr>
					<td rowspan="2" class="days-col">90</td>
					<td class="monthly-col">Monthly</td>
					<td class="daily-col">Daily</td>
				</tr>
				<tr>
					<td class="monthly-val">9.00%</td>
					<td class="daily-val">0.30%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
			</table>
			<button class="table_btn table_bg" [ngClass]="{'selectedHeaven':selectedHevenPlan=='heaven90'}" (click)="selectedHevenPlan = 'heaven90'">Choose</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nb-card>
			<nb-card-body>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label style="color: #00ff00">From</label>
							<select class="form-control">
								<option>BTC</option>
								<option>ETH</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label style="color: #00ff00">Amount</label>
							<input type="text" placeholder="Nick" class="form-control" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="d-none d-md-block">&nbsp;</label>
							<button class="btn btn-block btn-success btn-rectangle">RUN</button>
						</div>
					</div>
				</div>

			</nb-card-body>
		</nb-card>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-xl-9">
		<nb-card>
			<nb-card-body>
				<div class="chart-header">
					<div class="legends">
						<div class="legend">
							<div class="legend-item-color"
								style="background: linear-gradient(90deg, rgb(63, 202, 185) 0%, rgb(66, 215, 127) 100%);">
							</div>
							<div class="legend-title">ANX</div>
						</div>
						<div class="legend">
							<div class="legend-item-color"
								style="background: linear-gradient(90deg, rgb(156, 72, 255) 0%, rgb(108, 72, 232) 100%);">
							</div>
							<div class="legend-title">HEAVEN</div>
						</div>
					</div>
					<div class="dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle>
							Year
						</button>
						<ul class="dropdown-menu" ngbDropdownMenu>
							<li class="dropdown-item"> Week </li>
							<li class="dropdown-item"> Month </li>
							<li class="dropdown-item"> Year </li>
						</ul>
					</div>
				</div>
				<ngx-ecommerce-charts></ngx-ecommerce-charts>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-4 col-xl-3">
		<nb-card size="xsmall">
			<nb-card-header>
				ANX Price
			</nb-card-header>
			<nb-card-body>
				<div class="progress-info">
					<div class="value">572,900</div>
					<div class="progress-container ">
						<div class="progress-value " style="width: 70%;"> </div>
					</div>
					<div class="description"><bdi>Better than last week (70%)</bdi></div>
				</div>
			</nb-card-body>
		</nb-card>
		<ngx-solar [chartValue]="'42'"></ngx-solar>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<nb-card>
			<nb-card-header>
				Heaven History
			</nb-card-header>
			<nb-card-body>
				<ng2-smart-table [settings]="settings" [source]="source">
				</ng2-smart-table>
			</nb-card-body>
		</nb-card>
	</div>
</div>
