<div class="row">
  <div class="col-12 col-lg-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [statusCard]="statusCard">
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="day-header-title title">{{"common.heaven" | translate}} 30</nb-card-header>
      <nb-card-body class="row font-bebasNeue">
        <div class="col-5">
          <div class="text-success text-right days-font">30</div>
          <div class="text-right days-text">{{"common.days"| translate}}</div>
        </div>
        <div class="col-7 m-t">
          <div>
            <div class="text-success month-day">{{"common.month"| translate}}</div>
            <div class="month-day-value ls-half">4.50 %</div>
          </div>
          <div>
            <span class="text-success month-day">{{"common.day"| translate}}</span>
            <span class="month-day-value ls-one">0.15 %</span>
          </div>
        </div>
      </nb-card-body>
      <button class="table_bg font-size-button" [ngClass]="{'selectedHeaven':selectedHeavenPlan === '30'}"
        (click)="selectedHeavenPlan = '30'">{{"common.select" | translate}}
      </button>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="day-header-title title">{{"common.heaven" | translate}} 60</nb-card-header>
      <nb-card-body class="row font-bebasNeue">
        <div class="col-5">
          <div class="text-success text-right days-font">60</div>
          <div class="text-right days-text">{{"common.days"| translate}}</div>
        </div>
        <div class="col-7 m-t">
          <div>
            <div class="text-success month-day">{{"common.month"| translate}}</div>
            <div class="month-day-value">6.00 %</div>
          </div>
          <div>
            <span class="text-success month-day">{{"common.day"| translate}}</span>
            <span class="month-day-value">0.20 %</span>
          </div>
        </div>
      </nb-card-body>
      <button class="table_bg font-size-button" [ngClass]="{'selectedHeaven':selectedHeavenPlan === '60'}"
        (click)="selectedHeavenPlan = '60'">{{"common.select" | translate}}
      </button>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-header class="day-header-title title">{{"common.heaven" | translate}} 90</nb-card-header>
      <nb-card-body class="row font-bebasNeue">
        <div class="col-5">
          <div class="text-success text-right days-font">90</div>
          <div class="text-right days-text">{{"common.days"| translate}}</div>
        </div>
        <div class="col-7 m-t">
          <div>
            <div class="text-success month-day">{{"common.month"| translate}}</div>
            <div class="month-day-value">9.00 %</div>
          </div>
          <div>
            <span class="text-success month-day">{{"common.day"| translate}}</span>
            <span class="month-day-value">0.30 %</span>
          </div>
        </div>
      </nb-card-body>
      <button class="table_bg font-size-button" [ngClass]="{'selectedHeaven':selectedHeavenPlan === '90'}"
        (click)="selectedHeavenPlan = '90'">{{"common.select" | translate}}
      </button>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12 myWallets">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="form-group font-avenir">
              <label style="color: #00ff00">
                {{"common.from" | translate}}
              </label>
              <div class="status-dd-week dropdown" ngbDropdown>
                <button type="button" ngbDropdownToggle class="font-avenir dropDown-padding btn btn-primary b-color-wallet"
                  [ngClass]="{'btn-sm': breakpoint.width <= breakpoints.is}">
                  {{ wallet?.title || walletType }}
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  <li class="dropdown-item" *ngFor="let wallet of myWallets"
                    (click)="changePeriod(wallet?.wallet_type, 'createHeaven')">
                    {{ wallet.title }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="form-group total-amount font-avenir">
              <label style="color: #00ff00">
                {{"common.amount" | translate}}
              </label>
              <div class="input-group">
                <div class="status-dd-week input-group-prepend input-group-btn dropdown" *ngIf="wallet?.wallet_type === 'USDT'" ngbDropdown>
                  <button type="button" ngbDropdownToggle class="font-avenir dropDown-padding btn btn-primary b-color-wallet">
                    <label *ngIf="!minerFee">{{"common.fee" | translate}}</label>
                    <label *ngIf="minerFee">${{minerFee}}</label>
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-item" *ngFor="let fee of fees"
                      (click)="setMinerFee(fee)">${{fee}}</li>
                  </ul>
                </div>
                <input type="number" [required]="true" [(ngModel)]="heaven_amount"
                placeholder="{{'pages.heaven.enterAmount' | translate}}" step="0.000001" min="0" oninput="validity.valid||(value='');" onpaste="validity.valid||(value='');"
                [disabled]="!wallet?.wallet_type" class="form-control input-padding font-avenir"
                (keyup)="setAmount(wallet?.wallet_type)" />
                <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                <span class="transfer-amount" *ngIf="!fetchingAmount">${{ wallet?.walletDollar | number : '1.0-2' }}</span>
              </div>
              <span class="available-amount" (click)="setMaxValue()" *ngIf="wallet?.wallet_type"
              title="Click to use whole amount">
              {{(maxAmount | number: '1.0-6') + ' ' + (wallet?.title) + ' / ' + ("pages.exchange.max" | translate) }}
              </span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="form-group">
              <label class="d-none d-md-block">&nbsp;</label>
              <button [disabled]="formSubmitting || fetchingAmount || !myWallets?.length || !wallet?.wallet_type"
                (click)="onCreateHeaven()" class="btn btn-block btn-success btn-rectangle btn-run font-bebasNeueBold">
                <span *ngIf="!(formSubmitting || fetchingAmount)">
                  {{"common.run" | translate}}
                </span>
                <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting || fetchingAmount"></i>
              </button>
            </div>
          </div>
          <span class="miner-fee" *ngIf="wallet?.wallet_type === 'USDT' && minerFee">{{"pages.heaven.minerFeeMessage" | translate:{"min": minMinutes, "max": maxMinutes} }}</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="!isProduction">
  <div class="col-md-12 col-xl-12">
    <nb-card>
      <nb-card-body>
        <div class="chart-header">
          <div class="legends">
            <div class="legend">
              <div class="legend-item-color"
                style="background: linear-gradient(90deg, rgb(63, 202, 185) 0%, rgb(66, 215, 127) 100%);">
              </div>
              <div class="legend-title">{{"common.cryptos.anx" | translate}}</div>
            </div>
            <div class="legend">
              <div class="legend-item-color"
                style="background: linear-gradient(90deg, rgb(156, 72, 255) 0%, rgb(108, 72, 232) 100%);">
              </div>
              <div class="legend-title">{{'common.heaven'|translate}}</div>
            </div>
          </div>
          <div class="dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{'common.year'|translate}}
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item"> {{'common.week'|translate}}</li>
              <li class="dropdown-item"> {{'common.month'|translate}}</li>
              <li class="dropdown-item"> {{'common.year'|translate}}</li>
            </ul>
          </div>
        </div>
        <ngx-ecommerce-charts></ngx-ecommerce-charts>
      </nb-card-body>
    </nb-card>
  </div>
  <!--<div class="col-md-4 col-xl-3">
    <nb-card size="xsmall">
      <nb-card-header>
        ANX Price
      </nb-card-header>
      <nb-card-body>
        <div class="progress-info">
          <div class="value">572,900</div>
          <div class="progress-container ">
            <div class="progress-value " style="width: 70%;"></div>
          </div>
          <div class="description">
            <bdi>Better than last week (70%)</bdi>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <ngx-solar [chartValue]="'42'"></ngx-solar>
  </div>-->
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="row heavenhistory">
        <div class="col-6">
          <div class="navbar-header heavenHistory-tree">
            {{"pages.heaven.heavenHistory" | translate}}
          </div>
        </div>
        <div class="col-6">
          <ul id="heavenHistory-navigation" class="nav navbar-pill downLine">
            <li class="pointer li-margin">
              <a data-toggle="pill" (click)="getHeavenHistory('today')">{{'common.today'|translate}}</a>
            </li>
            <li class="active pointer">
              <a data-toggle="pill" (click)="getHeavenHistory('total')">{{'common.total'|translate}}</a>
            </li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body id="heaven-history">
        <div [hidden]="!fetchHeavenHistory"><span class="heaven-history-spinner"><i
              class="fa fa-spinner fa-spin"></i></span></div>
        <div class="text-right mb-2" *ngIf="showRewardText">{{'pages.heaven.heavenNotRewardedText' | translate}}</div>
        <div style="overflow: auto;">
          <ng2-smart-table class="heaven-history" [settings]="settings" [source]="source" *ngIf="!fetchHeavenHistory">
          </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="row heavenhistory">
        <div class="col-md-12">
          <div class="navbar-header heavenHistory-tree">
            {{"pages.heaven.heavenDropHistory" | translate}}
          </div>
        </div>
        <!-- <div class="col-md-6 heavenHistoryColumn">
           <ul id="heavenHistory-navigation" class="nav navbar-pill downLine">
             <li class="pointer li-margin">
               <a data-toggle="pill" (click)="getHeavenHistory('today')">{{'common.today'|translate}}</a>
             </li>
             <li class="active pointer li-margin">
               <a data-toggle="pill" (click)="getHeavenHistory('total')">{{'common.total'|translate}}</a>
             </li>
           </ul>
         </div>-->
      </nb-card-header>
      <nb-card-body id="heaven-drop-history">
        <div [hidden]="!fetchHeavenDropHistory"><span class="heaven-history-spinner"><i
              class="fa fa-spinner fa-spin"></i></span></div>
        <div style="overflow: auto;">
          <ng2-smart-table [settings]="heavenDrops" [source]="source_heavenDrop" *ngIf="!fetchHeavenDropHistory">
          </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
