<div  class="row">
	<div class="col-md-6">
		<div class="card card_body">
			<div class="image_div">
				<img src="assets/images/card_img1.jpg" class="menu_img">
				<div class="heaven_div">
					<h6 class="">Heaven</h6>
					<p><span>$</span> 572,900</p>
				</div>
				<div class="btn_img">
					<button class="image_btn">
						<img src="assets/images/card_btnimg1.jpg" class="btn_img1">IN
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card_body">
			<div class="image_div">
				<img src="assets/images/card_img1.jpg" class="menu_img">
				<div class="heaven_div">
					<h6 class="">Releasable</h6>
					<p><span>$</span> 572,900</p>
				</div>
				<div class="btn_img">
					<button class="image_btn image_btn1">
						OUT<img src="assets/images/card_btnimg2.jpg" class="btn_img2">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div  class="row">
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 30</h6>
			<table class="table">
				<tr>
					<td rowspan="2" class="days-col">30</td>
					<td class="monthly-col">Monthly</td>
					<td class="daily-col">Daily</td>
				</tr>
				<tr>
					<td class="monthly-val">14%</td>
					<td class="daily-val">4%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
			</table>
			<button class="table_bg">Choose</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 60</h6>
      <table class="table">
				<tr>
          <td rowspan="2" class="days-col">30</td>
          <td class="monthly-col">Monthly</td>
          <td class="daily-col">Daily</td>
				</tr>
				<tr>
          <td class="monthly-val">14%</td>
          <td class="daily-val">4%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
      </table>
			<button class="table_btn table_bg">Choose</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card_body">
			<h6 class="card_heading">Heaven 90</h6>
      <table class="table">
				<tr>
          <td rowspan="2" class="days-col">30</td>
          <td class="monthly-col">Monthly</td>
          <td class="daily-col">Daily</td>
				</tr>
				<tr>
          <td class="monthly-val">14%</td>
          <td class="daily-val">4%</td>
				</tr>
				<tr>
					<td>Days</td>
					<td>$1013</td>
					<td>$192</td>
				</tr>
      </table>
			<button class="table_btn table_bg">Choose</button>
		</div>
	</div>
</div>
<nb-card>
  <nb-card-header>
    Heaven History
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
