<nb-card-header class="nb-front-card">
  <div class="curre">{{ selectedCurrency }}</div>
  <div class="dropdown ghost-dropdown" ngbDropdown *ngIf="currencies[selectedCurrency]">
    <button type="button" class="btn btn-sm" ngbDropdownToggle
            [ngClass]="{
              'btn-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default'}">
      <!--{{currencyType[selectedCurrency]}}--> &nbsp;
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let currency of currencies[selectedCurrency]" (click)="changeCurrency(currency, selectedCurrency)">{{ currency }}</li>
    </ul>
  </div>
</nb-card-header>

<nb-card-body>
  <div class="chart-info">
    <div class="row">
      <div class="col-6">
        <div class="text-daily text-default">{{ quantity }}</div>
      </div>
      <div class="col-6" style="align-self: flex-end;">
        <div class="title text-right"><span class="text-success">$</span>{{amount | number: '1.0-2'}}</div>
      </div>
    </div>
    <div class="value">{{tokenName}} = $ {{livePrice | number : '1.0-2' }}</div>
    <div class="delta"
         [class.up]="percentage >= 0"
         [class.down]="percentage < 0">
      {{ percentage > 0 ? percentage : (-1 * percentage) }}%
    </div>
  </div>
  <ngx-earning-live-update-chart
    [liveUpdateChartData]="liveUpdateChartData">
  </ngx-earning-live-update-chart>
</nb-card-body>
