@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .ticket-list-spinner {
    display: block;
    font-size: 25px;
    color: #a1a1e5;
    height: 40px;
    text-align: center;
  }
}


