<!--<div *ngIf="!isProduction" class="row">
  <div class="col-12 col-lg-6">
    <nb-card class="top-content">
      <div class="icon-container">
        <div class="icon primary"> <i class="fa fa-university"></i></div>
      </div>
      <div class="details">
        <label>{{"pages.dashboard.totalAsset"|translate}}</label>
        <label class="bigger-text"><span>$</span> 572,900</label>
      </div>
      <div class="actions">
        <div class="select-box">
          <div class="dropdown" ngbdropdown="">
            <button aria-haspopup="true" class="btn dropdown-toggle btn-primary" ngbdropdowntoggle="" type="button"
              aria-expanded="false" data-toggle="dropdown"> {{"common.week"|translate}}
            </button>
            <ul class="dropdown-menu" ngbdropdownmenu="" x-placement="bottom-left">
              <li class="dropdown-item"> {{"common.week"|translate}} </li>
              <li class="dropdown-item"> {{"common.month"|translate}} </li>
              <li class="dropdown-item"> {{"common.year"|translate}} </li>
            </ul>
          </div>
        </div>
        <div class="progress-data ">
          <div class="delta value up"> 4% </div>
          <div class="progress-container">
            <div class="progress-value " style="width: 70%;"></div>
          </div>
        </div>
      </div>
    </nb-card>
  </div>
  <div class="col-12 col-lg-6">
    <nb-card class="top-content">
      <div class="icon-container">
        <div class="icon primary"> <i class="nb-bar-chart"></i></div>
      </div>
      <div class="details">
        <label>{{"pages.hq.heavenRate" | translate}}</label>
        <label class="bigger-text">94%</label>
      </div>
      <div class="actions">
        <div class="select-box">
          <div class="dropdown" ngbdropdown="">
            <button aria-haspopup="true" class="btn dropdown-toggle btn-primary" ngbdropdowntoggle="" type="button"
              aria-expanded="false" data-toggle="dropdown"> {{"common.week"|translate}}
            </button>
            <ul class="dropdown-menu" ngbdropdownmenu="" x-placement="bottom-left">
              <li class="dropdown-item"> {{"common.week"|translate}} </li>
              <li class="dropdown-item"> {{"common.month"|translate}} </li>
              <li class="dropdown-item"> {{"common.year"|translate}} </li>
            </ul>
          </div>
        </div>
        <div class="progress-data">
          <div class="delta value up"> 4% </div>
          <div class="progress-container">
            <div class="progress-value " style="width: 70%;"></div>
          </div>
        </div>

      </div>
    </nb-card>
  </div>
</div>-->
<div class="row" >
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6">
            <div class="dropdown dropdown-graph ghost-dropdown" ngbDropdown>
              <button type="button" class="btn btn-sm btn-primary" ngbDropdownToggle>
                {{graph_type}} &nbsp;
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item pointer" *ngFor="let graph_type of graph_types" (click)="changeGraph(graph_type)">{{ graph_type }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 hqColumn">
            <ul id="main-navigation" class="nav navbar-pill rewardLine">
              <li class="pointer active margin-li" (click)="changeType('today')"><a data-toggle="pill" >{{'common.today' | translate | titlecase}}</a></li>
              <li class="pointer margin-li" (click)="changeType('week')"><a data-toggle="pill" >{{'common.week' | translate}}</a></li>
              <li class="pointer margin-li" (click)="changeType('month')"><a data-toggle="pill" >{{'common.month' | translate}}</a></li>
              <li class="pointer" (click)="changeType('total')"><a data-toggle="pill" >{{'common.total' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body class="tab-content">
        <div [hidden]="!fetchingGraphData" class="fetchingGraphData"><span><i class="fa fa-spinner fa-spin"></i></span></div>
        <div id="today" *ngIf="!fetchingGraphData" class="tab-pane active">
          <ngx-echarts-area-stack *ngIf="graph_type !== 'ANX Reward'" [graphData]="graphData"></ngx-echarts-area-stack>
          <ngx-chart-line *ngIf="graph_type === 'ANX Reward'" [graphData]="graphData"></ngx-chart-line>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--
  <div class="row">
    <div class="col-sm-6 col-lg-3" id="curr1">
      <ngx-earning-card (selectedCurrency)="'abc'"></ngx-earning-card>
    </div>
    <div class="col-sm-6 col-lg-3" id="curr2">
      <ngx-earning-card></ngx-earning-card>
    </div>
    <div class="col-sm-6 col-lg-3" id="curr3">
      <ngx-earning-card></ngx-earning-card>
    </div>
    <div class="col-sm-6 col-lg-3">
      <ngx-traffic [trafficHeading]="'pages.hq.heavenGrowth'|translate"></ngx-traffic>
    </div>
  </div>
-->
<!--
  <div class="row report-row">
    <div class="col-sm-6 col-lg-3" id="curr5">
      <ngx-traffic [trafficValue]="anxData.total_user" [trafficHeading]="'pages.hq.totalUser'|translate"></ngx-traffic>
    </div>
    <div class="col-sm-6 col-lg-3" id="curr6">
      <ngx-traffic
        [trafficValue]="anxData.today_registered_user"
        [trafficHeading]="'pages.hq.newUser'|translate"></ngx-traffic>
    </div>
    <div class="col-sm-6 col-lg-3" id="curr7">
      <ngx-traffic
        [trafficValue]="0"
        [trafficHeading]="'pages.hq.leavingUser'|translate"></ngx-traffic>
    </div>
    <div class="col-sm-6 col-lg-3" id="curr8">
      <ngx-traffic
        [trafficValue]="0"
        [trafficHeading]="'pages.hq.userGrowth'|translate"></ngx-traffic>
    </div>
  </div>
-->

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
       {{"pages.hq.toastr.userDatabase"|translate}}
      </nb-card-header>
      <nb-card-body id="card-user-database">
        <div [hidden]="!fetchingUsers"><span class="user-database-spinner"><i class="fa fa-spinner fa-spin"></i></span></div>
        <ng2-smart-table [settings]="settings" [source]="source" *ngIf="!fetchingUsers" (deleteConfirm)="onLoadConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
