@import '../../@theme/styles/themes';
@import '../../../../node_modules/@nebular/theme/styles/global/_breakpoints';

@include nb-install-component() {
  nb-card-header {
    padding: 11px;
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
}

/deep/ .exchange {

  .main-content {
    padding: 1.25rem 1.25rem 0rem !important;
  }
  nb-sidebar.menu-sidebar {
    display: none;
  }

  .logo-containter .display-none {
    display: block !important;
  }

  .header-container .navigation i {
    display: none !important;
  }
  .trade-chart {
    padding: 0 !important;

    border-radius: 0.5rem;
  }
  nb-sidebar.compacted.start.fixed ~ .content {
    margin-left: 0 !important;
  }

  nb-layout-footer {
    margin-left: 0 !important;
  }

  .twc > div {
    // background-color: yellow;
    height: 580px !important;
    width: 100% !important
  }
  .twc > div > div {
    height: 580px !important;
    width: 100% !important;
  }
}

nb-card-body {
  padding: 10px;
}

/deep/ .headsection {
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.chartimg {
  width: 100%;
  margin-bottom: 87px;
  max-height: 275px;
}

.empty_width {
  max-width: 325px;;
}

#nav-orders li > a, #nav-main-tabs li > a {
  text-decoration: none;
  font-size: 18px;
  font-family: BebasNeue;
  display: inline-block;
  color: #ffffff;
  line-height: 40px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
  font-weight: 400;
  width: 100%;
}

#nav-orders li > a i, #nav-main-tabs  li > a i {
  padding-right: 8px;
  font-size: 17px;
  float: left;
}

#nav-orders li.active > a, #nav-main-tabs li.active > a{
  border-bottom: 2px solid #26df8b;
  color: #26df8b;
}

#nav-orders li > a,  #nav-main-tabs li > a {
  border-bottom: 2px solid #fff;
  color: #fff;
}

ul#nav-orders, ul#nav-main-tabs {
  padding-left: 0px !important;
}

.table {
  margin-bottom: 0rem !important;
  white-space: nowrap;

}

.table td {
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}

.table thead th {
  border-top: 0px solid #dee2e6;
  border-bottom: 0px solid #dee2e6;
  color: #cee80b;
  font-size: 12px;
  padding: 0px 0.55rem !important;
  font-family: 'Nunito Sans', sans-serif;
}

tbody tr {
  font-family: nb-theme(font-nunito);
  padding: 0px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

table tbody tr:nth-of-type(even) {
  background: #87a1b730;
}

.tradeLine {
  padding: 0 !important;
  margin: 0 0 20px 0;
}

#nav-main-tabs li {
  width: 25% !important;
}

.tradeLine li {
  width: 50% !important;
}

/deep/ .pink-text {
  color: #f90f94 !important;
}

/deep/ .green-text {
  color: #00ff57 !important;
}

/deep/ .light-green-text {
  color: #7dff01 !important;
}

/deep/ .light-blue-text {
  color: #575bc7 !important;
}

.available-items {
  min-height: auto !important;
  max-height: 74px !important;
  width: 100%;
  overflow: auto !important;
}

/deep/ .available-items::-webkit-scrollbar {
  width: 3px !important;
}

.tradingview-widget-container {
  overflow: auto;
}

.items_margin {
  height: 152px;
  margin-bottom: 28px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-12 {
  display: flex;
  flex: 0 0 100%;
}

.thing {
  background-color: #eaeaea;
  flex: 1;
  margin: 10px;
  padding: 15px;
}

.btn-cancelAll {
  width: max-content;
  height: 23px;
  border: 1px solid #dc3545;
  border-radius: 3px;
}

.btn-cancelAll:focus {
  outline: none;
  border: 1px solid #dc3545 !important;
}

.cancel-text {
  font-size: 11px;
  text-decoration: underline !important;
}

.hidePair {
  font-size: 12px;
  top: 9px;
  position: relative;
  font-family: nb-theme(font-nunito);
}

.table-height {
  height: 95px;
}

/deep/ span.customised-control-description {
  margin-top: 2px;
}

@media screen and (max-width: 800px) {
  .four {
    order: 1;
  }
  .b {
    order: 2;
  }
  .c {
    order: 4;
  }
  .d {
    order: 3;
  }
  .b > div {
    background-color: red;
  }
}

.trade-open-history {
  height: 183px;
}


.overflow-unset {
  overflow: hidden;
}

.show-block {
  display: none;
}

.tabs-position {
  position: absolute;
  bottom: 0;
  z-index: 1111;
  width: 96%;
}

.current-pair-section {
  font-size: 20px;
  color: #ffffff;
  margin: 5px 5px 10px 5px;
  padding: 10px 5px;
  letter-spacing: 1px;
  font-family: nb-theme(font-bebas);
}

.current-pair-section .carat-icon {
  font-size: 16px;
  color: #26df8b;
  float: right;
  margin-top: 5px;
}

.order-card {
  overflow: auto !important;
}

/deep/ .swal2-title {
  color: #000000 !important;
  font-weight: bold !important;
}

/deep/ .swal2-styled.swal2-confirm {
  background-color: #dc3545 !important;
}

/deep/ .swal2-styled.swal2-cancel {
  background-color: #00d977 !important;
}

@media screen and (max-width: 425px) {
  .show-block {
    display: block;
  }

  .trade-open-history {
    height: calc(100vh - 205px);
  }

  #nav-orders li > a {
    font-size: 20px;
  }

  #nav-orders li {
    width: 50%;
  }

  /deep/ nb-layout-footer nav {
    background-color: rgba(16, 11, 72, 0.72);
    color: #a1a1e5;
    margin: 0 -10px;
  }

  #nav-orders li a {
    text-align: center;
  }

  nb-card-header {
    padding: 11px 1px !important;
  }

  nb-card-body {
    padding: 10px 5px !important;
  }

  /deep/ nb-accordion nb-accordion-item-body .item-body {
    padding: 1px !important;
  }

  nb-accordion nb-accordion-item {
    background: none !important;
  }

  .table-height {
    height: 100%;
  }

  /deep/ .exchange .main-content {
    padding: 1rem 0.5rem 0 !important;
  }
}

@media screen and (width: 320px) {
  #nav-orders li > a {
    font-size: 16px;
  }
}
