<div class="show-block">
  <nb-card class="current-pair-section">
    <div class="pointer" (click)="accordion.toggle()">
      {{currentPair?.pair | uppercase}} <i class="fa fa-caret-down carat-icon"></i>
    </div>
  </nb-card>

  <nb-layout-footer class="tabs-position">
    <div class="col-sm-12 p-0">
      <ul id="nav-main-tabs" class="nav mytradeLine">
        <li class="pointer li-width active">
          <a class="text-center text-nowrap" data-toggle="pill" (click)="setSection('trade')">{{"pages.exchange.trade" | translate}}</a>
        </li>
        <li class="pointer li-width">
          <a  class="text-center text-nowrap" data-toggle="pill" (click)="setSection('tradeBook')">{{"pages.exchange.tradeBook" | translate}}</a>
        </li>
        <li class="pointer li-width">
          <a class="text-center text-nowrap" data-toggle="pill" (click)="setSection('myOrders')">{{"pages.exchange.myOrders" | translate}}</a>
        </li>
        <li class="pointer li-width">
          <a class="text-center text-nowrap" data-toggle="pill" (click)="setSection('chart')">{{"pages.exchange.chart" | translate}}</a>
        </li>
      </ul>
    </div>
  </nb-layout-footer>
</div>

  <div class="row wrapper">
  <div class="col-xl-2 col-lg-3 col-pair">
    <nb-accordion *ngIf="shareDataService.mobileExchangeVersion">
      <nb-accordion-item #accordion class="item">
        <nb-accordion-item-body>
          <ngx-pair (messageEvent)="receiveMessage($event)" class="main one order-1"></ngx-pair>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <ngx-pair *ngIf="!shareDataService.mobileExchangeVersion" (messageEvent)="receiveMessage($event)" class="main one order-1"></ngx-pair>
    <ngx-trade (messageEvent)="receiveMessage($event)" class="main two"></ngx-trade>
  </div>
  <div class="col-xl-7 col-lg-6 col-chart nopadd mobpaddfix">
    <nb-card class="main three" [hidden]="shareDataService.exchangeSectionBlock !== 'chart' && shareDataService.mobileExchangeVersion">
      <nb-card-body class="trade-chart">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_58f3c" class="twc"></div>
        </div>
        <ngx-trade-echarts [graphData]="tradeChartData" [graphPair]="currentPair?.symbol"></ngx-trade-echarts>
        <!-- TradingView Widget END -->
      </nb-card-body>
    </nb-card>

    <nb-card class="main four trade-open-history" [hidden]="shareDataService.exchangeSectionBlock !== 'myOrders' && shareDataService.mobileExchangeVersion">
      <nb-card-header>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <ul id="nav-orders" class="nav mytradeLine">
              <li class="pointer active">
                <a data-toggle="pill" (click)="getOpenOrder(hideOtherPairs ? currentPair?.pair : 'ALL')">{{"pages.exchange.myOpenOrders" | translate}}</a>
              </li>
              <li class="pointer">
                <a data-toggle="pill" (click)="getMyTradeHistory(hideOtherPairs ? currentPair?.pair : 'ALL')">{{"pages.exchange.myTradeHistory" | translate}}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="float-right">
              <nb-checkbox [(ngModel)]="hideOtherPairs" name="hideOtherParis" class="hidePair" (change)="onHidePairs()">
                Hide Other Pairs
              </nb-checkbox>
            </div>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body class="order-card">
        <span class="fetching-spinner" *ngIf="fetchTradeData">
          <i class="fa fa-spinner spinner-color fa-spin"></i>
        </span>
        <div class="table-responsive table-height" *ngIf="tradeTab1 && !fetchTradeData">
          <table class="table table-condensed">
            <thead>
              <tr class="overflow-unset" *ngIf="noDataOpenTrade">{{ "pages.exchange.noOpenOrderAvailable" | translate}}</tr>
              <tr *ngIf="viewOpenOrderData">
                <th class="text-left">{{"pages.exchange.time" | translate}}</th>
                <th class="text-right">{{"pages.exchange.Pair" | translate}}</th>
                <th class="text-right">{{"pages.transfer.type" | translate}}</th>
                <th class="text-right">{{"pages.exchange.price" | translate}}</th>
                <th class="text-right">{{"common.amount" | translate}}</th>
                <th class="text-right">{{"pages.exchange.totalPrice" | translate}}</th>
                <th class="text-right">{{"pages.exchange.fill" | translate}} %</th>
                <th class="text-right"><button class="btn-cancelAll btn-danger" (click)="onCancelOrderAll()">{{"pages.exchange.cancelAll" | translate}}</button></th>
              </tr>
            </thead>
            <tbody *ngIf="viewOpenOrderData">
            <tr *ngFor="let order of openOrderBuySell">
              <td width="13%" class="text-left">{{order.timestamp | date:'yyyy.MM.dd hh:mm:ss'}}</td>
              <td width="10%" class="text-right">{{order.pair }}</td>
              <td width="8%" class="text-right"><span class="{{order.buy ? 'green-text' : 'pink-text' }}">{{order.buy ? 'Buy' : 'Sell' }}</span></td>
              <td width="9%" class="text-right">{{order.price | number: '1.8-8'}} {{currentPair?.to | uppercase}}</td>
              <td width="20%" class="text-right">{{order.amount | number: '1.8-8'}} {{currentPair?.from | uppercase}}</td>
              <td width="20%" class="text-right">{{order.price * order.amount | number: '1.8-8'}} {{currentPair?.to | uppercase}}</td>
              <td width="10%" class="text-right">{{order.filled | number: '1.0-2'}}%</td>
              <td width="10%" class="text-right"><span><a class="green-text cancel-text" (click)="onCancelOrder(order._id, order.pair)">Cancel</a></span></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive table-height" *ngIf="tradeTab2 && !fetchTradeData">
          <table class="table table-condensed">
            <thead>
             <tr class="overflow-unset" *ngIf=" noDataTradeHistory">{{ "pages.exchange.noTradeHistoryAvailable" | translate}}</tr>
              <tr *ngIf="viewTradeHistoryData">
                <th class="text-left">{{"pages.exchange.time" | translate}}</th>
                <th class="text-right">{{"pages.exchange.Pair" | translate}}</th>
                <th class="text-right">{{"pages.transfer.type" | translate}}</th>
                <th class="text-right">{{"pages.exchange.price" | translate}}</th>
                <th class="text-right">{{"common.amount" | translate}}</th>
                <th class="text-right">{{"pages.exchange.totalPrice" | translate}}</th>
                <th class="text-right">{{"pages.exchange.fill" | translate}} %</th>
              </tr>
            </thead>
            <tbody *ngIf="viewTradeHistoryData">
            <tr *ngFor="let history of myTradeHistory">
              <td width="13%" class="text-left">{{history.timestamp | date:'yyyy.MM.dd hh:mm:ss'}}</td>
              <td width="10%" class="text-right">{{history.pair}}</td>
              <td width="8%" class="text-right"><span class="{{history.buy ? 'green-text' : 'pink-text' }}">{{history.buy ? 'BUY' : 'SELL' }}</span></td>
              <td width="9%" class="text-right">{{history.price | number: '1.8-8'}} {{currentPair?.to | uppercase}}</td>
              <td width="20%" class="text-right">{{history.amount | number: '1.8-8'}} {{currentPair?.from | uppercase}}</td>
              <td width="20%" class="text-right">{{history.price * history.amount | number: '1.8-8'}} {{currentPair?.to | uppercase}}</td>
              <td width="20%" class="text-right">{{history.filled | number: '1.0-2'}}%</td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xl-3 col-lg-3 col-board">
    <ngx-board class="main five"></ngx-board>
    <ngx-trade-history class="main six"></ngx-trade-history>
  </div>
</div>
