<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{"pages.xticket.eventsList" | translate}}
      </nb-card-header>
      <nb-card-body id="card-user-database">
        <div [hidden]="!fetchingUsers"><span class="user-database-spinner"><i class="fa fa-spinner fa-spin"></i></span></div>
        <ng2-smart-table class="table-font" [settings]="settings" [source]="source" *ngIf="!fetchingUsers" (deleteConfirm)="onLoadConfirm($event.data)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
