<div class="lottery-container">
  <div class="row m-0">
    <div class="col-12 challenger-div-height">
      <div class="subdiv-margin">
        <div class="challenger-title font-bebasNeueBold"> {{"games.lottery.changeYourDestiny" | translate}}</div>
        <div class="round-div">{{currentLotteryData?.name}}</div>
        <div class="winner-div" *ngFor="let winner of estimatedWinners">
          <div>
            <span class="winner-id-span">{{winner.winner_rank}}</span>
            <span class="winner-name-span">{{winner.prizeText}}</span>
            <span class="winner-xpAmount-span">{{winner.amount}} XP</span>
          </div>
        </div>
        <div class="time-div" *ngIf="timerData">
          {{timerData?.days | async}} : {{timerData?.hours | async}} : {{timerData?.minutes | async}} :
          {{timerData?.seconds | async}}
        </div>
        <div class="time-div" *ngIf="stateDate">
          {{stateDate}}
        </div>
        <div class="time-div" *ngIf="lotteryDate">
          {{lotteryDate}}
        </div>
      </div>
    </div>
  </div>
  <div class="bc-color">
    <div class="row">
      <div class="col-lg-6 padding-row" id="betting">
        <nb-card>
          <nb-card-header class="title-header">{{"games.lottery.betting" | translate}}</nb-card-header>
          <nb-card-body id="betting-body">
            <div class="row">
              <div class="col-md-12 text-center" *ngIf="currentLotteryData?.status != 'running'">
                {{"games.lottery.toastr.betDisableText" | translate}}
              </div>
              <div class="col-md-12 mb-3 text-center">
                <span class="text-space">1BET : <span class="span-font-size">{{currentLotteryData?.bet_amount | number : '1.0-0'}} XP</span></span>
              </div>
              <div class="col-lg-6">
                <div class="form-group font-nunitoSans">
                  <label class="label-color">
                    {{"games.lottery.asset" | translate}}
                  </label>
                  <span class="float-right" *ngIf="selectWallet">{{(selectWallet?.wallet_amount | number : '1.0-6') + ' ' + (selectWallet?.wallet_type)}}</span>
                  <div class="status-dd-week mb-1 dropdown" ngbDropdown>
                    <button type="button" ngbDropdownToggle
                            class="font-avenir btn-primary dropDown-padding btn b-color-wallet">
                      {{walletType}}
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item pointer " (click)="onChangeWallet(wallet.wallet_type)"
                          *ngFor="let wallet of myWallets">
                        {{ wallet.wallet_type }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group total-amount font-nunitoSans">
                  <label class="label-color">
                    {{"games.lottery.totalBets" | translate}}
                  </label>
                  <div class="input-group">
                    <input type="number" onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"
                           [(ngModel)]="placeLottery.bet_number" [required]="true" (keyup)="calculateAmount()" [disabled]="!selectWallet?.wallet_type"
                           min="1" step="1" class="form-control input-padding"/>
                    <span class="transfer-amount mr-2"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                    <span class="transfer-amount mr-2" *ngIf="!fetchingAmount">{{ totalBetAmount | number : '1.0-8'}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 p-0">
              <div class="form-group font-nunitoSans">
                <label class="label-color"> {{"games.lottery.challengeComment" | translate}} </label>
                <input type="text" [(ngModel)]="placeLottery.comment" class="form-control input-padding"/>
              </div>
            </div>
            <div class="col-12 p-0">
              <div class="form-group font-nunitoSans">
                <label class="label-color"> {{"games.lottery.winningComment" | translate}} </label>
                <input type="text" [(ngModel)]="placeLottery.winning_comment" class="form-control input-padding"/>
              </div>
            </div>
            <div class="col-12 p-0">
              <div class="form-group">
                <label class="d-none d-md-block">&nbsp;</label>
                <button [disabled]="(formSubmitting || !selectWallet?.wallet_type || fetchingAmount || currentLotteryData?.status !== 'running')" (click)="onPlaceLottery()" class="btn btn-block btn-success pointer btn-rectangle btn-run font-bebasNeueBold">
                <span *ngIf="!(formSubmitting || fetchingAmount)">
                 {{"common.run" | translate}}
                </span>
                  <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting || fetchingAmount"></i>
                </button>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer id="betting-footer">
            <span class="label-color font-nunitoSans">{{"games.lottery.howToPay?" | translate}} </span>
            <div class="mt-2 font-nunitoSans"> {{"games.lottery.playMessage" | translate}}</div>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="col-lg-6 padding-row">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-6 fix-width padding-remove-xs challenger-header">
                {{"games.lottery.challenger" | translate}}
              </div>
              <div class="col-6 padding-left-remove fix-width padding-remove-xs">
                <ul id="heavenHistory-navigation" class="nav navbar-pill downLine">
                  <li class="pointer active li-margin">
                    <a data-toggle="pill" (click)="isComment=true">{{"games.lottery.comment" | translate}} </a>
                  </li>
                  <li class="pointer">
                    <a data-toggle="pill" (click)="isComment=false">{{"games.lottery.address" | translate}} </a>
                  </li>
                </ul>
              </div>
            </div>
          </nb-card-header>
            <nb-list class="list-height" id="challenges-body">
              <nb-list-item *ngIf="fetchingBetList">
                <span><i class="fa fa-spinner winner-list-spinner fa-spin"></i></span>
              </nb-list-item>
              <nb-list-item [ngClass]="{ 'p-0': !betNotAvailable }" *ngIf="!(betData && fetchingBetList)">
                <span>{{betNotAvailable}}</span>
              </nb-list-item>
              <nb-list-item [hidden]="betData && fetchingBetList" *ngFor="let user of betData">
                <div class="user-container" style="display: flex;">
                  <div class="div-picture m-0">
                    <div *ngIf="!user.profile_picture" class="user-picture background image"></div>
                    <img *ngIf="user.profile_picture" src="{{user.profile_picture}}" class="user-picture background image">
                  </div>
                  <div class="info-container info-user-width ml-3">
                    <div [ngClass]="{'label-color': user.comment}"
                         class="user-name div-user-name work-break font-bebasNeueBold">{{ user.username }}
                    </div>
                    <div class="user-title work-break">{{ user.level}}  {{user.rank}}</div>
                  </div>
                  <div class="ml-4" *ngIf="user.comment && isComment">
                    <div class="message">{{user.comment}}</div>
                  </div>
                  <div class="ml-4" *ngIf="user.asset_address && !isComment">
                    <div class="message">{{user.asset_address}}</div>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12 padding-row">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-6 fix-width padding-remove-xs challenger-header">
                {{"games.lottery.winners" | translate}}
              </div>
              <div class="col-6 padding-left-remove fix-width margin-top-div padding-remove-xs">
                <div class="float-right">
                  <div class="dropdown dropdown-lottery ghost-dropdown" ngbDropdown>
                    <button type="button" class="btn btn-sm btn-primary" ngbDropdownToggle>
                      {{selectedLottery?.name}} &nbsp;
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item pointer" *ngFor="let lottery of lotteryData" (click)="onChangeLottery(lottery)">{{ lottery?.name }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="col-md-12" *ngIf="!winnerData">{{winnerTextMessage}}</div>
            <nb-list id="winnerList">
              <nb-list-item class="spinner-width" [hidden]="!fetchingWinner">
                <span><i class="fa fa-spinner winner-list-spinner fa-spin"></i></span>
              </nb-list-item>
              <nb-list-item *ngIf="fetchingWinner && !winnerData">
                <span>{{winnerTextMessage}}</span>
              </nb-list-item>
              <nb-list-item [hidden]="fetchingWinner && winnerData" *ngFor="let winnerUser of winnerData">
                <div class="user-container">
                  <div class="div-flex">
                    <div class="mr-2 div-id">{{ winnerUser.winner_rank}}</div>
                    <div class="mr-2 div-prize">{{ winnerUser.prizeText}}</div>
                    <div class="mr-2 div-xpAmount work-break">{{winnerUser.winning_value}} XP</div>
                    <div class="div-picture">
                      <div *ngIf="!winnerUser.profile_picture" class="user-picture background image"></div>
                      <img *ngIf="winnerUser.profile_picture" src="{{winnerUser.profile_picture}}" class="user-picture background image">
                    </div>
                    <div class="info-container mr-2">
                      <div class="user-name div-name work-break font-bebasNeueBold">{{ winnerUser.username }}</div>
                      <div class="user-title work-break">{{ winnerUser.level }}  {{winnerUser.rank}}</div>
                    </div>
                    <div class="ml-4" *ngIf="winnerUser.winning_comment">
                      <div class="message">{{winnerUser.winning_comment}}</div>
                    </div>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12 padding-row">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-12 fix-width padding-remove-xs challenger-header">
                {{"games.lottery.smartContract" | translate}}
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <pre class="smartContract noselect">{{smartContract}}</pre>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
