<nb-card class="nb-card-outer">
  <div class="nb-card-wrap">
    <nb-card-header class="cardHeadercss">
      <div class="navigation">
        <h1 class="link" style="text-align: center">
          {{"common.transfer" | translate}}
        </h1>
      </div>
    </nb-card-header>
    <nb-card-body class="row">
      <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
      <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <nb-tabset fullWidth>
          <nb-tab tabTitle='{{"pages.transfer.send" | translate}}'>
            <form class="mt-5 transfer-form">
              <div class="form-group row d-sml-block m-0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row font-nunitoSans">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="BTC" class="text-link">
                          {{"common.from" | translate}}
                        </label>
                        <div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
                          <button type="button" ngbDropdownToggle class="btn dropDown-padding"
                                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                                            'btn-primary': currentTheme !== 'default',
                                            'btn-sm': breakpoint.width <= breakpoints.is}">
                            {{ sendType }}
                          </button>
                          <ul class="dropdown-menu" ngbDropdownMenu>
                            <ng-container *ngFor="let wallet of myWallets">
                              <li class="dropdown-item"
                                  *ngIf="sendType != wallet.wallet_type"
                                  (click)="onChangeWallet(wallet.wallet_type, 'send')">
                                {{ wallet.wallet_type }}
                              </li>
                            </ng-container>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group total-amount">
                        <label for="Amount" class="text-link">
                          {{"common.amount" | translate}}
                        </label>
                        <input type="number"  name="transfer_amount" class="form-control font-nunitoSans" 
                            placeholder="{{ 'common.amount' | translate }}" step="0.000001"
                               [(ngModel)]="transfer_amount" [disabled]="!sendWallet?.wallet_type"  (keyup)="setAmount(sendWallet?.wallet_type)"
                               value="{{0 | number : '1.0-6' }}">
                        <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                        <span class="transfer-amount" *ngIf="!fetchingAmount">${{ sendWallet?.walletDollar | number : '1.0-2' }}</span>
                        <span class="available-amount" (click)="setSendMaxValue()" *ngIf="sendWallet?.wallet_type"
                              title="Click to use whole amount">
                          {{(sendWallet?.wallet_amount | number : '1.0-6') + ' ' + (sendWallet?.wallet_type) + ' / max' }}
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center p-0">
                      <div class="form-group mt-4">
                        <div class="arrowtransfer"><i class="fas fa-arrow-down"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row font-nunitoSans m-0">
                <div class="col-md-12 mtb-0">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="BTC" class="text-link">
                          {{"pages.transfer.to" | translate}}
                        </label>
                        <input type="text" name="destination_address" class="form-control font-nunitoSans w-100" [(ngModel)]="destination_address" placeholder="{{'pages.transfer.enterDestinationAddress' | translate}}">
                      </div>
                      <div class="form-group mt-4">
                        <button [disabled]="formSubmitting || fetchingAmount || !myWallets?.length || waitFlag" (click)="openTradeDialog(tradePassword)" class="font-bebasNeueBold btn btn-run btn-demo btn-success pointer" fullWidth style="width: 100%;">
                          <span *ngIf="!(formSubmitting || fetchingAmount)">
                            {{"common.run" | translate}}
                          </span>
                          <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting || fetchingAmount"></i>
                        </button>
                      </div>
                      <span class="transfer-message font-nunitoSans" *ngIf="sendWallet?.wallet_type === 'BTC' && false">*Minimum amount for BTC transfer is $100 for beta version.</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nb-tab>
          <nb-tab tabTitle='{{"pages.transfer.receive" | translate}}'
            active="{{setReceiveTab}}">
            <form class="mt-5 font-nunitoSans transfer-form receive-form">
              <div class="row m-0">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="BTC" class="text-link">
                          {{"pages.transfer.to" | translate}}
                        </label>
                        <div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
                          <button type="button" ngbDropdownToggle class="btn"
                                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                                            'btn-primary': currentTheme !== 'default',
                                            'btn-sm': breakpoint.width <= breakpoints.is}">
                            {{ receiveType}}
                          </button>
                          <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-item" *ngFor="let period of myWallets"
                                (click)="onChangeWallet(period['wallet_type'], 'receive')">
                              {{ period['wallet_type'] }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
              </div>
              <div class="row mt-5 m-0">
                <div class="col-md-12 mtb-0">
                  <div class="row justify-content-center">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <input type="text" class="form-control font-nunitoSans w-100" placeholder="{{'pages.transfer.destinationAddress' | translate}}" value="{{receiveWallet?.address}}" [disabled]="true">
                      </div>
                      <div class="form-group"><a class="form-control copy-icon" ngxClipboard [cbContent]="receiveWallet?.address" (click)="copyAddress()"><i class="fa fa-clone" title="Copy address"></i></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 text-center" *ngIf="receiveWallet?.qrcode">
                      <img class="img-fluid barcode" [src]="receiveWallet?.qrcode" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nb-tab>
          <nb-tab tabTitle="OTC" active="{{setOTCTab}}">
            <form class="mt-5 transfer-form receive-form">
              <div class="row font-nunitoSans m-0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="ANX" class="text-link">{{"common.from" | translate}}</label>
                        <div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
                          <button type="button" ngbDropdownToggle class="btn dropDown-padding"
                                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                                            'btn-primary': currentTheme !== 'default',
                                            'btn-sm': breakpoint.width <= breakpoints.is}">
                            {{ fromType}}
                          </button>
                          <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-item" *ngFor="let wallet of fromTypes"
                                (click)="onChangeWallet(wallet, 'from')">
                              {{ wallet }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group total-amount">
                        <label for="Amount" class="text-link">{{"common.amount" | translate}}</label>
                        <input type="number" class="font-nunitoSans form-control" placeholder="Amount"
                               name="fromOTCAmount" step="0.01"
                               [required]="true" [(ngModel)]="fromOTCAmount" (keyup)="setOTCAmount()"
                               value="{{0 | number : '1.0-2' }}">
                        <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                        <span class="transfer-amount" *ngIf="!fetchingAmount">${{ anxWallet?.walletDollar | number : '1.0-2' }}</span>
                        <span class="available-amount" (click)="setAnxMaxValue()" title="Click to use whole amount">
                          {{((anxWallet?.wallet_amount || 0) | number : '1.0-2') + ' ANX / max' }}
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center p-0">
                      <div class="form-group mt-4">
                        <div class="arrowtransfer"><i class="fas fa-arrow-down"></i></div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="BTC" class="text-link">
                          {{"pages.transfer.to" | translate}}
                        </label>
                        <div class="status-dd-week dropdown" [ngClass]="{ 'ghost-dropdown': currentTheme === 'corporate' }" ngbDropdown>
                          <button type="button" ngbDropdownToggle class="btn dropDown-padding"
                                  [ngClass]="{'btn-outline-success': currentTheme === 'default',
                                            'btn-primary': currentTheme !== 'default',
                                            'btn-sm': breakpoint.width <= breakpoints.is}">
                            {{ toType }}
                          </button>
                          <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-item" *ngFor="let wallet of otcWallets"
                                (click)="onChangeWallet(wallet.wallet_type, 'to')">
                              {{ wallet.wallet_type }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group total-amount">
                        <label for="Amount" class="text-link">{{"common.amount" | translate}}</label>
                        <input type="number" class="font-nunitoSans form-control" placeholder="Amount" step="0.000001"
                               [disabled]="true" value="{{otcWallet?.toAmount | number : '1.0-6'}}">
                        <span class="transfer-amount" *ngIf="!fetchingAmount && false">${{ otcWallet?.toDollar | number : '1.0-2' }}</span>
                        <span class="transfer-amount"><i class="fa fa-spinner fa-spin" *ngIf="fetchingAmount"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-0">
                <div class="col-md-12 mtb-0">
                  <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group mt-4">
                        <button [disabled]="formSubmitting || fetchingAmount || !otcWallets?.length" class="font-bebasNeueBold btn-run btn btn-demo btn-success pointer"
                                (click)="onOTCTransfer()" fullWidth style="width: 100%;">
                          <span *ngIf="!(formSubmitting || fetchingAmount)">{{"common.run" | translate}}</span>
                          <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting || fetchingAmount"></i>
                        </button>
                      </div>
                      <span class="transfer-message font-nunitoSans" *ngIf="otcWallet?.wallet_type === 'BTC' && false">
                      *{{"pages.transfer.minimumAmountForBTCTransfer" | translate}}</span>
                      <span class="transfer-message font-nunitoSans">3%
                        {{"pages.transfer.realNameIsRequiredForKYC" | translate}}*</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </nb-tab>
        </nb-tabset>
      </div>
      <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12"></div>
    </nb-card-body>
  </div>
</nb-card>

<ng-template #tradePassword let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      {{"common.tradePassword" | translate}}
      <i class="nb-close nb-icon-left fa-2x" (click)="cancelTradeDialog(ref)"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <input type="password" [(ngModel)]="trade_password" placeholder="Trade password" nbInput/><br/><br/>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="submit-btn" size="small" (click)="tradPasswordDialog(ref)">{{"common.submit" | translate}}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
