@import '~@nebular/theme/styles/global/breakpoints';
:host {
    $auth-layout-padding: 2.5rem;
  
    nb-card {
      margin: 0;
      height: calc(100vh - 2 * #{$auth-layout-padding});
    }
  
    .navigation .link {
      text-decoration: none;
      margin: 1.6em;
      .icon {
        font-size: 2rem;
      }
    }
  
  .barcode{
    max-width: 150px;
  }

.transfer-form {
  label{
    justify-content: start;
    margin: 0 0 10px 0;
    color: #00bb66;
  }
  .col{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.trans-receive {
    justify-content: flex-end;
}
.total-amount{
  position: relative;
  span {
    position: absolute;
    right: 30px;
    bottom: 13px;
    color: #00bb66;
    font-weight: bold;
    font-size: 16px;
  }
}
    nb-card-body {
      width: 100%;
    }
  
    nb-auth-block {
      margin: auto;
    }
  
    @include media-breakpoint-down(sm) {
      nb-card {
        border-radius: 0;
        height: auto;
      }
    }
    


  .labeldata{
      font-size:1.6em;
      text-align: center;
  }
  .textcenter{
text-align: center;
  }
  .arrowtransfer{
    display: inline;
    font-size: 2.6em;
    margin-top: 0.5em;
    color: #14ffbe;
  }
    /deep/ {
      nb-layout .layout .layout-container .content .columns nb-layout-column {
        padding: $auth-layout-padding;
  
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
    }
  }

  @media (max-width:1430px){
    .nb-card-wrap {margin: 0 auto;width: 80%;max-width: 80%;}
  }

  @media (max-width:1100px){
    .nb-card-wrap {width: 100%;max-width: 100%;}
  }