@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
}

nb-card-body {
  padding: 10px 30px;
}

.minheight {
  min-height: 250px;
}

.headsection {
  border-bottom: 0;
  padding-bottom: 0 !important;
}

.theading-text {
  color: #cee80b;
}

.secondaryhead {
  display: block !important;
  font-size: 15px;
  color: #575bc7;
  font-weight: 400;
}

.board {
  height: 393px;
}

.boardtable {
  width: 100%;
}

.boardtable th {
  // text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  border-bottom: 1px solid #342e73;
}

.back-table:nth-child(even) {
  background: #87a1b730;
}

.positionSet {
  padding-top: 10px;
}

.totalfield {
  border-bottom: 1px solid #342e73;
  border-top: 1px solid #342e73;
  font-size: 1.2rem !important;
  font-family: nb-theme(font-bebas-book);
  padding: 5px 0 0 0 !important;
  font-weight: 600;
}

.boardtable th span.total {
  color: #b9e80c;
}

.boardtable td {
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

.boardtable tr {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}

.padrt10px {
  padding-right: 10px !important;
}

.boardtable td.changetext {
  text-align: right;
}

.available-items {
  max-height: 350px !important;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto !important;
  margin-bottom: 3px;
}

.tr-position {
  margin-top: 5px;
  height: 113px !important;
}

.bigSize {
  font-size: 20px;
}

/deep/ .trade-chart-anx {
  height: 578px;
}

@media screen and (max-width: 425px) {
 /deep/ .trade-chart-anx {
    height: 390px;
  }

  /deep/ .exchange .twc > div {
    height: 390px !important;
  }

 /deep/ .exchange .twc > div > div {
    height: 390px !important;
  }

  nb-card-header {
    padding: 17.5px 5px;
  }

  nb-card-body {
    padding: 10px 15px !important;
  }
}
