<nb-card class="board">
  <nb-card-header>Board</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="available-items">

        <table class="boardtable">
          <thead>
            <tr>
              <th class="text-left">
                <span class="theading-text">Price</span>
                <span class="secondaryhead">BTC</span>
              </th>
              <th class="text-center">
                <span class="theading-text">Amount</span>
                <span class="secondaryhead">ANX</span>
              </th>
              <th class="text-right">
                <span class="theading-text">Total</span>
                <span class="secondaryhead">BTC</span>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="available-items">
        <table class="boardtable">

          <tr class="boardtableEven">
            <td class="pink-text positionSet">0.0033</td>
            <td class="text-center positionSet">65.6542</td>
            <td class="changetext positionSet">0.8771</td>
          </tr>
          <tr>
            <td class="pink-text">0.0033</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr class="boardtableEven">
            <td class="pink-text">0.0031</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr >
            <td class="pink-text">51.12</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr class="boardtableEven">
            <td class="pink-text">51.12</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr >
            <td class="text-center totalfield" colspan="3">
              <span class="theading-text text-center bigSize">1.41242</span>&nbsp;&nbsp;
              &nbsp;
              <span class="text-center bigSize">$ 103.12</span>
            </td>
          </tr>
          <tr>
            <td class="green-text positionSet">0.0033</td>
            <td class="text-center positionSet">65.6542</td>
            <td class="changetext positionSet">0.8771</td>
          </tr>
          <tr class="boardtableEven">
            <td class="green-text">0.0032</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="green-text">0.0031</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr class="boardtableEven">
            <td class="green-text">51.12</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="green-text">51.12</td>
            <td class="text-center">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>


        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>