<nb-card class="tradeHistory">
  <nb-card-header>Trade History</nb-card-header>
  <nb-card-body>
    <div class="row" >
      <div class="available-items">
        <table class="trade-histary-table">
          <tbody>

            <tr>
              <td class="pink-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
              <td class="green-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
              <td class="pink-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
              <td class="green-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
              <td class="pink-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
              <td class="green-text">1.265.00 XRP</td>
              <td class="text-center">1.265.00 XRP</td>
              <td class="changetext">05:30 22:23</td>
            </tr>
            <tr>
                <td class="green-text">1.265.00 XRP</td>
                <td class="text-center">1.265.00 XRP</td>
                <td class="changetext">05:30 22:23</td>
              </tr>
              <tr>
                <td class="pink-text">1.265.00 XRP</td>
                <td class="text-center">1.265.00 XRP</td>
                <td class="changetext">05:30 22:23</td>
              </tr>
              <tr>
                <td class="green-text">1.265.00 XRP</td>
                <td class="text-center">1.265.00 XRP</td>
                <td class="changetext">05:30 22:23</td>
              </tr>
              <tr>
                  <td class="green-text">1.265.00 XRP</td>
                  <td class="text-center">1.265.00 XRP</td>
                  <td class="changetext">05:30 22:23</td>
                </tr>
                <tr>
                  <td class="pink-text">1.265.00 XRP</td>
                  <td class="text-center">1.265.00 XRP</td>
                  <td class="changetext">05:30 22:23</td>
                </tr>
                <tr>
                  <td class="green-text">1.265.00 XRP</td>
                  <td class="text-center">1.265.00 XRP</td>
                  <td class="changetext">05:30 22:23</td>
                </tr>
                <tr>
                    <td class="green-text">1.265.00 XRP</td>
                    <td class="text-center">1.265.00 XRP</td>
                    <td class="changetext">05:30 22:23</td>
                  </tr>
                  <tr>
                    <td class="pink-text">1.265.00 XRP</td>
                    <td class="text-center">1.265.00 XRP</td>
                    <td class="changetext">05:30 22:23</td>
                  </tr>
                  <tr>
                    <td class="green-text">1.265.00 XRP</td>
                    <td class="text-center">1.265.00 XRP</td>
                    <td class="changetext">05:30 22:23</td>
                  </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>