<div class="row">
  <div class="col-12 col-lg-6" *ngFor="let statusCard of statusCards1">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type" [value]="statusCard.value">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>
<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card" *ngIf="userNotification.length">
      <nb-card-body>
        <span class="notification-header">EVENT UPDATE</span>
        <nb-list class="text-white" *ngFor="let userNotify of userNotification.slice(0,2);">
          <nb-list-item>
            <span class="event-title">{{userNotify.title}}</span> <span class="pull-right event-date">{{userNotify.created | date: 'yyyy.MM.dd'}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card" *ngIf="systemNotification.length">
      <nb-card-body>
        <span class="notification-header">SYSTEM UPDATE</span>
        <nb-list class="text-white" *ngFor="let systemNotify of systemNotification.slice(0,2);">
          <nb-list-item>
            <span class="event-title">{{systemNotify.title}}</span> <span class="pull-right event-date">{{systemNotify.created | date: 'yyyy.MM.dd'}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let currency of cryptoBalance;">
        <ngx-earning-card [selectedCurrency]="currency.type" [amount]="currency.amount" [quantity]="currency.quantity"
                          [quantity]="currency.quantity"  [percentage]="currency.percentage || 0"
                          [livePrice]="currency.livePrice || 0"></ngx-earning-card>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isProduction">
  <div class="col-lg-6">
    <nb-card class="card-portfolio">
      <nb-card-header>PORTFOLIO</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie [dataSource]="cryptoData"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <!--<nb-card class="card-assets">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Assets">
          <div class="chart-container mt-2">
            <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
            <ngx-chart-panel-header [type]="period"
                                    (periodChange)="setPeriodAndGetChartData($event)">
            </ngx-chart-panel-header>
            <ngx-echarts-area-stack></ngx-echarts-area-stack>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Profit" [lazyLoad]="true">

        </nb-tab>
      </nb-tabset>
    </nb-card>-->
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row mb-4" *ngIf="!isProduction">
  <div class="nebular-calendar col-xl-4 col-lg-4 col-md-12 col-sm-12" id="notifyCalender">
    <nb-calendar [boundingMonth]="true"></nb-calendar>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
    <nb-card size="small" style="height: 100%;">
      <nb-card-header>
        <span class="article-title">Article Title</span>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-8">
            <h4>So what's About the grammar?</h4>
          </div>
          <div class="col-4 text-right"><span class="article-date">May 1, 2019</span></div>
        </div>
        <p class="article-text pt-1">
          Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and
          <strong>Consonantia</strong>,
          there live the blind texts.
          They live in <strong>Bookmarksgrove</strong>.
        </p>
        <p class="article-text pt-1">
          A small <strong>river named Duden</strong> flows by their place and supplies it with the
          necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
          into your mouth.
          Even the all-powerful Pointing has no control about the blind texts it is an almost
          unorthographic life One day however a small
          line of blind text by the name of
          <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for
          the far <strong>World of Grammar</strong>.
          <br />
          <br />
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="user?.is_admin && !isProduction">
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
  </div>
  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
    <nb-card>
      <nb-card-body>
        <div class="form-group">
          <input type="text" placeholder="Project" class="form-control" />
          <small class="form-text ml-2 mt-1">A block of help text that breaks into a new line and may extend beyond one
            line.
          </small>
        </div>
        <div class="input-group mb-4">
          <input type="text" placeholder="Disabled input" class="form-control" disabled />
        </div>
        <div class="input-group mb-4">
          <textarea rows="5" placeholder="Text Area" class="form-control"></textarea>
        </div>
        <div class="size-container text-right">
          <button class="btn btn-primary btn btn-sm btn-demo btn-hero-secondary mr-2">Ghost</button>
          <button class="btn btn-success btn btn-sm btn-demo btn-hero-success">Success</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
