@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
}

/deep/ .headsection{
  border-bottom: 0px!important;
  padding-bottom: 0px!important;
}
.chartimg{ width:100%; margin-bottom: 87px;max-height: 275px; }

/deep/ .card-shadow{
  box-shadow: 0px 0px 10px 0 #609c78!important;
  background:rgba(0, 0, 0, 0.4)!important;
  border-radius: 0px!important;
}

#main-navigation li > a {
  padding: 5px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  line-height: 26px;
  padding: 0px 8px;
  border-bottom: 2px solid transparent;
}

#main-navigation li > a i{
  padding-right: 8px;
  font-size: 17px;
  float: left;
}

#main-navigation li.active > a { border-bottom: 2px solid #2542db; color: #ffffff; }
#main-navigation li > a { border-bottom: 2px solid #575bc7; color: #575bc7; }

.navbar-pill {
  justify-content: flex-end;
}

.table th, .table td {
  padding: 0.45rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}
.table thead th{
  border-top: 0px solid #dee2e6;
  border-bottom: 0px solid #dee2e6;
  color: #7dff01;
}
tbody tr{ color: #ffffff; font-size: 12px;}
table tbody tr:nth-of-type(even) {
  background: #87a1b730;
}

.mytradeLine{
  padding:0px!important;
  margin: 0px 10px 10px 10px;
  float: left;
}

/deep/ .pink-text{ color: #f90f94!important; }
/deep/ .green-text{ color: #00ff57!important; }
/deep/ .light-green-text{ color: #7dff01!important; }
/deep/ .light-blue-text{ color: #575bc7!important; }

.available-items{
  min-height:240px!important;
  max-height:240px!important;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto!important;
}

/deep/ .available-items::-webkit-scrollbar{ width: 3px!important; }