@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
 
}
nb-card-body {
  padding: 10px 30px
  }
/deep/ .headsection{
  border-bottom: 0px!important;
  padding-bottom: 0px!important;
}
.chartimg{ width:100%; margin-bottom: 87px;max-height: 275px; }

.empty_width{
  max-width: 325px;;
}
#main-navigation li > a {
  text-decoration: none;
  font-size: 1.60rem;
  font-family: BebasNeue;
  display: inline-block;
  color: #ffffff;
  line-height: 40px;
  padding: 0px 15px;
  border-bottom: 2px solid transparent;
  font-weight: 400;
  width: 100%;
}

#main-navigation li > a i{
  padding-right: 8px;
  font-size: 17px;
  float: left;
}

#main-navigation li.active > a { border-bottom: 2px solid #26df8b; color: #26df8b; }
#main-navigation li > a { border-bottom: 2px solid #fff; color: #fff; }
ul#main-navigation{
  padding-left: 0px!important;
}
.table{
  margin-bottom: 0rem !important;
  white-space: nowrap;

}
.table th, .table td {
  padding: 0.45rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}
.table thead th{
  border-top: 0px solid #dee2e6;
  border-bottom: 0px solid #dee2e6;
  color: #7dff01;
}
tbody tr{ color: #ffffff; font-size: 12px;    font-family: 'Nunito Sans', sans-serif;}
table tbody tr:nth-of-type(even) {
  background: #111550;
}
.tradeLine{ padding:0px!important; margin: 0px 0px 20px 0px; }
.tradeLine li{ width:50%!important; }

/deep/ .pink-text{ color: #f90f94!important; }
/deep/ .green-text{ color: #00ff57!important; }
/deep/ .light-green-text{ color: #7dff01!important; }
/deep/ .light-blue-text{ color: #575bc7!important; }

.available-items{
  min-height:auto!important;
  max-height:271px !important;
  width: 100%;
  // overflow-x: hidden;
  overflow-y: auto!important;
  overflow-x:auto;
}
.available{
  overflow-x:hidden !important;
}

.items_margin{
  margin-bottom: 28px;
}

/deep/ .available-items::-webkit-scrollbar{ width: 3px!important; }



@media all and (max-width: 800px) {
 .items_margin{
  margin-bottom: 0px;

 }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .main{
    flex:1;
  }
  .five{
    order:1
  }
  .four{
    order: 2;
  }
  .six{
    order: 3
  }
}

