@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
}
.minheight{
  min-height: 250px;
}
.headsection{
  border-bottom: 0px;
  padding-bottom: 0px!important;
}
.tradeLine{
padding:0px!important;
margin: 0px;
}
.tradeLine li{
width:50%!important;
}
  #main-navigation li > a {
    padding: 5px;
    text-decoration: none;
    font-family: nb-theme(font-nunito);
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    color: #ffffff;
    padding: 0px 15px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    width: 100%;
  }

  #main-navigation li > a i{
    padding-right: 8px;
    font-size: 17px;
    float: left;
  }
 
  #main-navigation li.active > a { border-bottom: 2px solid #26df8b; }
  #main-navigation li > a { border-bottom: 2px solid #b2beea; }

  .navbar-pill {
    justify-content: flex-end;
  }