@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
}
.minheight{
  min-height: 250px;
}
.headsection{
  border-bottom: 0px;
  padding-bottom: 0px!important;
}

.total-text{
  color: #cee80b;
}
.secondaryhead{
  display:block!important;
  font-size: 15px;
  color: #575bc7;
  font-weight: 400;
}
.boardtable{width: 100%;}

.boardtable th{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.0rem;
  border-bottom: 1px solid #575bc7;
}

.totalfield{
  border-bottom: 1px solid #575bc7;
  border-top: 1px solid #575bc7;
  font-size: 1.2rem !important;
  font-family: nb-theme(font-bebas-book);
  padding: 5px 0px 0px 0px!important;
  font-weight: 600;
}

.boardtable th:first-child, .boardtable td:first-child{
  padding-left:10px!important;
}
.boardtable th span.total{
  color:#b9e80c;
}
.boardtable td{
  color:#ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}
.boardtable td.changetext{
  text-align: right;
}