<nb-card class="card-shadow">
  <nb-card-header class="headsection">Board</nb-card-header>
  <nb-card-body>
    <div class="row">
      <table class="boardtable">
        <thead>
          <tr>
            <th class="text-left">
              <span class="light-green-text">Price</span>
              <span class="secondaryhead">BTC</span>
            </th>
            <th class="text-right">
              <span class="light-green-text">Amount</span>
              <span class="secondaryhead">ANX</span>
            </th>
            <th class="text-right">
              <span class="total-text">Total</span>
              <span class="secondaryhead">BTC</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pink-text">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="pink-text">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="pink-text">0.0032</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="pink-text">0.0031</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="pink-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="pink-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="pink-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="pink-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="pink-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="text-center totalfield" colspan="3">
              <span class="light-green-text text-center">1.41242</span>&nbsp;&nbsp;
              &nbsp;
              <span>$ 103.12</span>
            </td>
          </tr>

          <tr>
            <td class="green-text">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="green-text">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="green-text">0.0032</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="green-text">0.0031</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="green-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="green-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="green-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="green-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="green-text">51.12</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

