@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-bebas);
    font-size: 1.75rem;
  }
  nb-card-body {
    overflow: visible;
  }
}
.minheight{
  min-height: 250px;
}
.headsection{
  border-bottom: 0px;
  padding-bottom: 0px!important;
}
.textgreen{
  color:green!important;
}
.textyellow{
  color:yellow!important;
}
.secondaryhead{
  display:block!important;
  font-size: 12px;
}
.pairtable{width: 100%;}

.pairtable th{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: nb-theme(font-bebas-book);
  border-bottom: 1px solid #f5f5f5;
}
.totalfield{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 1.2rem !important;
  font-family: nb-theme(font-bebas-book);
    padding: 5px 0px 0px 0px!important;
    font-weight: 600;
}
.pairtable th:first-child, .pairtable td:first-child{
  padding-left:10px!important;
}
.pairtable th span.total{
  color:#b9e80c;
}
.pairtable td{
  color:#ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}
.pairtable td.changetext{
  text-align: right;
}