<nb-card class="card-shadow">
  <nb-card-header class="headsection">Board</nb-card-header>
  <nb-card-body>
    <div class="row">
      <table class="pairtable">
        <thead>
          <tr>
            <th class="text-left">
              <span class="textgreen">Price</span>
              <span class="secondaryhead">BTC</span>
            </th>
            <th class="text-right">
              <span class="textgreen">Amount</span>
              <span class="secondaryhead">ANX</span>
            </th>
            <th class="text-right">
              <span class="textyellow">Total</span>
              <span class="secondaryhead">BTC</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-danger">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-danger">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-danger">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-danger">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
          <tr>
            <td class="text-center totalfield" colspan="3">
              <span class="text-success text-center">1.41242</span>&nbsp;&nbsp;
              <span>$103.12</span>
            </td>
          </tr>

          <tr>
            <td class="text-success">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-success">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-success">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
           <tr>
            <td class="text-success">0.0033</td>
            <td class="text-right">65.6542</td>
            <td class="changetext">0.8771</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

