<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <nav class='navigation'>
          <a routerLink="/login" class='link' aria-label='Back'>
            <i class='icon nb-arrow-thin-left'></i></a>
        </nav>
      </nb-card-header>
      <nb-card-body>
        <nb-auth-block>
          <div>
            <img src="../../assets/images/angelium_logo.png" class="logo-image" />
            <h1 id="title" class="title">Register</h1>
            <p class="sub-title title" *ngIf="isResubmit && otpSubmitted">Did not receive OTP? Try RESEND when
              enabled.</p>
            <form #otpForm="ngForm" (ngSubmit)="onSubmitOtp()">
              <div class="form-group row">
                <div class="col-md-9 col-12">
                  <label>
                    {{"comman.phone" | translate}}
                    {{"pages.registerPage.number" | translate}}:</label>
                  <international-phone-number [(ngModel)]="model.phone" 
                    [maxlength]="20" [required]="true" #phone="ngModel" name="phone" [defaultCountry]="'jp'">
                  </international-phone-number>

                  <div
                    *ngIf="((otpForm.submitted || otpSubmitted) && otp_form.phone.errors) || (submitted && f.phone.errors)"
                    class="invalid-feedback">
                    <div *ngIf="(otp_form?.phone.errors && otp_form?.phone.errors.required) || (f?.phone.errors && f?.phone.errors.required)">
                      {{"comman.phone" | translate}}
                      {{"pages.registerPage.number" | translate}}
                      {{"errorMessage.is" | translate}}
                      {{"errorMessage.required" | translate}}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-12 sent_btn">
                  <button type="submit" [disabled]="otpSubmitting || otpSubmitted"
                    class="btn btn-demo btn-success margint btnregister" size="large">
                    <span *ngIf="!otpSubmitting">{{isResubmit ? 'RESEND' : 'Send SMS'}}</span>
                    <i class="fa fa-spinner fa-spin text-white" *ngIf="otpSubmitting"></i>
                  </button>
                </div>
              </div>
            </form>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegistration()">
              <div class="form-group">
                <label>{{"comman.verification-code" | translate}}:</label>
                <input type="text" class="form-control" formControlName="otp_code"  
                      placeholder="{{'comman.verification-code' | translate}}">
                <div *ngIf="submitted && f.otp_code.errors" class="invalid-feedback">
                  <div *ngIf="f.otp_code.errors.required">
                      {{"comman.verification-code" | translate}}
                      {{"errorMessage.is" | translate}}
                      {{"errorMessage.required" | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                      {{"comman.verification-code" | translate}}
                      {{"errorMessage.is" | translate}}
                      {{"errorMessage.required" | translate}}
                  </div>
                  <div *ngIf="f.username.errors.email">Username us required</div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{"pages.registerPage.first-name" | translate}}:</label>
                  <input type="text" class="form-control" 
                    placeholder="{{'pages.registerPage.first-name' | translate}}" 
                    formControlName="first_name">
                  <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">
                      {{"pages.registerPage.first-name" | translate}}
                      {{"errorMessage.is" | translate}}
                      {{"errorMessage.required" | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>{{"pages.registerPage.last-name" | translate}}:</label>
                  <input type="text" class="form-control" 
                    placeholder="{{'pages.registerPage.last-name' | translate}}" 
                    formControlName="last_name">
                  <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">Last name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{"comman.email-address" | translate}}:</label>
                <input type="email" class="form-control" 
                  placeholder="{{'comman.email-address' | translate}}" 
                  formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    {{"comman.email-address" | translate}}
                    {{"errorMessage.is" | translate}}
                    {{"errorMessage.required" | translate}}
                  </div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{"comman.password" | translate}}:</label>
                <input type="password" class="form-control" 
                  placeholder="{{'comman.password' | translate}}" formControlName="password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{"pages.registerPage.repeat-password" | translate}}:</label>
                <input type="password" class="form-control" 
                  placeholder="{{'pages.registerPage.repeat-password' | translate}}"
                  formControlName="confirm_password">
                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                  <div *ngIf="f.confirm_password.errors.required">
                    {{"pages.registerPage.repeat-password" | translate}}
                    {{"errorMessage.is" | translate}}
                    {{"errorMessage.required" | translate}}
                  </div>
                  <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
              <!-- <div class="form-group">
                  <label for="exampleInputPassword1">Slider captcha</label>
                  <input type="password" class="form-control"  placeholder="Slider captcha">
                </div> -->
              <div class="form-group terms">
                <nb-checkbox formControlName="isAgree">Agree to </nb-checkbox>
                <a class="term-link" (click)="openTermsConditions()">Terms & Conditions</a>
                <div class="clearfix"></div>
              </div>
              <button type="submit" [disabled]="formSubmitting" class="btn btn-demo btn-success pointer" size="large"
                style="width:100%">
                <span *ngIf="!formSubmitting">
                  {{"buttonsText.register" | translate}}
                </span>
                <i class="fa fa-spinner fa-spin text-white" *ngIf="formSubmitting"></i>
              </button>
              <div class="form-group">
                <section class="another-action" aria-label="Sign in">.
                  {{"pages.registerPage.already-have-an-account" | translate}}? 
                  <a routerLink="/login">{{"buttonsText.login" | translate}}</a>
                </section>
              </div>
            </form>
          </div>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
