<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <div class="row">
            <div class="col-md-12">
              <nb-card-header>
                  <nav class='navigation'>
                      <a routerLink="/login" class='link' aria-label='Back'>
                        <i class='icon nb-arrow-thin-left'></i></a>
                      <h1 id="title" class="title">Register</h1>
                    </nav>
              </nb-card-header>

            </div>
            <nb-card-body>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <form>
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="exampleInputEmail1">Phone number</label>
                        <nb-select placeholder="Country">
                          <nb-option>Clean</nb-option>
                          <nb-option value="1">Option 1</nb-option>
                          <nb-option value="2">Option 2</nb-option>
                          <nb-option value="3">Option 3</nb-option>
                          <nb-option value="4">Option 4</nb-option>
                        </nb-select>
                      </div>
                      <div class="col-md-4">

                        <input type="email" class="form-control margint" id="exampleInputEmail1" placeholder="">
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-demo btn-success margint btnregister" size="large">Send
                          SMS</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Verification number</label>
                      <input type="email" class="form-control" id="exampleInputEmail1"
                        placeholder="Verification number">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Repeat password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Repeat password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Invitation code</label>
                      <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Invitation code">
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputPassword1">Slider captcha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Slider captcha">
                      </div> -->
                    <div class="form-group">
                      <nb-checkbox>Agree to Terms & Conditions</nb-checkbox>
                    </div>
                    <button type="submit" class="btn btn-demo btn-success" size="large" style="width:100%"
                      routerLink="../login">Register</button>
                    <div class="form-group">
                      <section class="another-action" aria-label="Sign in">
                        Already have an account? <a class="text-link" routerLink="../login">Log in</a>
                      </section>
                    </div>
                  </form>
                </div>
                <div class="col-md-4"></div>

              </div>



            </nb-card-body>
          </div>
        </nb-card>
      </div>


    </div>
  </nb-layout-column>
</nb-layout>