@import '../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }

  nb-auth-block {
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      height: 100vh;
    }
  }

  /deep/ {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: $auth-layout-padding;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  .navigation {
    .link {
      text-decoration: none;

      .icon {
        font-size: 2rem;
      }
    }
  }

  .margint {
    margin-top: 25px;
    padding: 11px 10px;
  }

  .another-action {
    text-align: center;
    margin: 1.8em;
  }

  .btnregister {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .sub-title {
    font-size: 13px;
    margin: 1rem 0;
  }

  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: nb-theme(color-danger);
  }
}
