<div id="black-jack-game" class="game-container">
  <div *ngIf="displayGame">
    <div class="black-jack"></div>
    <canvas id="canvas" class='ani_hack' width="1700" height="768"></canvas>
    <div data-orientation="landscape" class="orientation-msg-container">
      <p class="orientation-msg-text">Please rotate your device</p>
    </div>
    <div id="block_game"></div>
  </div>
</div>

<ng-template #selectWalletDialog let-data let-ref="dialogRef">
  <nb-card class="dialog-width">
    <nb-card-header>
      <span class="text-uppercase">{{"common.blackJack" | translate}}</span>
      <i class="nb-close nb-icon-left fa-2x" (click)="ref.close()"></i>
    </nb-card-header>
    <nb-card-body class="image-scoll-card-body">
      <div class="text-center" [hidden]="!fetchingWallets">
        <span class="heaven-history-spinner"><i class="fa fa-spinner fa-spin"></i></span>
      </div>
      <table [hidden]="fetchingWallets" class="table asset-table">
        <tbody>
        <div class="msg-font" *ngIf="!availableWallets.length"> {{"games.blackJack.noBalance" | translate}}</div>
        <tr *ngFor="let wallet of availableWallets">
          <td class="center-text">{{wallet.name}}</td>
          <td class="text-success center-text">${{wallet.dollar_amount}}</td>
          <td>
            <button class="btn btn-block btn-success btn-play" (click)="playNow(wallet, ref)">
              {{"games.blackJack.playNow" | translate}}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</ng-template>
